/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End of Eric Meyer's CSS Reset */

body {
	font: 12px/18px Arial, sans-serif;
	width: 100%;
}

.wrapper {
	width: 920px;
	margin: 0 auto;
}

/* Form */
@font-face {
	font-family: 'als_rublregular';
	src: url("/font/rouble-webfont.eot");
	src: url("/font/rouble-webfont.eot?#iefix") format("embedded-opentype"), url("/font/rouble-webfont.woff") format("woff"), url("/font/rouble-webfont.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'trebuchet_msregular';
	src: url("/font/trebuchet_ms_regular-webfont.eot");
	src: url("/font/trebuchet_ms_regular-webfont.eot?#iefix") format("embedded-opentype"), url("/font/trebuchet_ms_regular-webfont.woff") format("woff"), url("/font/trebuchet_ms_regular-webfont.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}


form {
	display: block;
	font-family: 'trebuchet_msregular', sans-serif;
}

.form_filter {
	padding: 0 0 25px;
	display: none;
	font-size: 0;
}

.form_filter .filter_box {
	font-size: 0;
	display: inline-block;
	vertical-align: top;
	display: inline;
	zoom: 1;
}

.form_filter .filter_block {
	margin: 0 0 0 45px;
}

.form_filter .filter_box .floor_block {
	margin: 0;
}

.form_filter .filter_block {
	padding: 20px 0 0;
	vertical-align: top;
	position: relative;
	font-size: 0;
	display: inline-block;
	*display: inline;
	zoom: 1;
}

.form_filter .filter_block span {
	position: absolute;
	display: block;
	height: 20px;
	line-height: 20px;
	top: 0;
	left: 0;
	font-size: 11px;
	text-transform: uppercase;
}

.form_filter .filter_block label input[type=radio],
.form_filter .filter_block label input[type=checkbox] {
	display: block;
	position: absolute;
	left: -100%;
	top: -100%;
}

.form_filter .filter_block label {
	vertical-align: top;
	position: relative;
	cursor: pointer;
	padding: 0 10px;
	font-size: 11px;
	color: #ffffff;
	height: 25px;
	line-height: 25px;
	background-color: #BEBEBE;
	margin: 10px 10px 0 0;
	display: inline-block;
	overflow: hidden;
	*display: inline;
	zoom: 1;
}

.form_filter .floor_block label {
	display: block;
	margin: 10px 0 0;
	background-image: url(/images/icon.png);
	background-repeat: no-repeat;
	padding-left: 30px;
}

.form_filter .color_block label {
	display: block;
	margin: 10px 0 0;
}

.form_filter .filter_block .men {
	background-position: 8px 5px;
}

.form_filter .filter_block .women {
	background-position: 8px -31px;
}

.form_filter .filter_block label:hover {
	background-color: #AAAAAA;
}

.form_filter .filter_block .checked,
.form_filter .filter_block .checked:hover {
	background-color: #C83373;
}

.form_filter .filter_toddler {
	height: 49px;
	padding: 45px 0px 0 0;
}

.form_filter .filter_toddler .toddler_block {
	padding: 13px 0 30px;
	width: 510px;
}

.form_filter .filter_toddler input[type=submit] {
	float: right;
	vertical-align: middle;
	width: 77px;
	height: 34px;
	margin: 0;
	padding: 5px 0 11px 15px;
	border: none;
	cursor: pointer;
	background: url(/images/filter_s.png) 0 0 no-repeat;
	color: #ffffff;
	font: 12px/18px "Trebuchet MS", sans-serif;
	text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
	outline: none;
}

.form_filter .filter_toddler input[type=submit]:active {
	background: url(/images/filter_s_a.png) 0 0 no-repeat;
	padding: 5px 0 11px 12px;
}

.filter_button {
	text-align: center;
}

.filter_button a {
	padding: 0 25px 0 0;
	color: #CC0066;
	text-transform: uppercase;
	font-size: 11px;
	text-decoration: none;
	background: url(/images/down.png) right center no-repeat;
}

.filter_button .show {
	background: url(/images/up.png) right center no-repeat;
}