@charset "utf-8";

* {
	padding: 0;
	margin: 0;
}

*:focus {
	outline: none;
}

header, nav, section, article, aside, footer, figure, hgroup {
	display: block;
}

strong, b {
    font-weight: bold;
}

/*html {
background: url("http://d1st.net16.net/imag/girlyanda.png") repeat-x;
background-position: top center;
}*/

#icon3 {
	width: 160px;
}

body {}

/*
#new_year1{
position:absolute;
z-index:10000;
width:51px;
height:121px;
background:url(../images/sapog.png) no-repeat;
left:50%;
top:550px;
margin-left:410px;
}
#new_year2{
position:absolute;
z-index:10000;
width:94px;
height:108px;
background:url(../images/elka.jpg) no-repeat;
left:50%;
top:1330px;
margin-left:129px;
}*/
html, body {
	height: 100%;
	width: 100%;
	font-size: 13px;
	line-height: 20px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #414141;
	text-align: center;
}

h1, h2, h3, h4, h5 {
	line-height: normal;
}

h1 {
	font-size: 18px;
	font-weight: bold;
	color: #000;
	text-transform: uppercase;
}

h2 {
	font-size: 18px;
	font-weight: bold;
	color: #000;
	text-transform: uppercase;
}

h3 {
	font-size: 13px;
	font-weight: bold;
	color: #000;
	text-transform: uppercase;
	margin-bottom: 5px;
}

h4 {
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
}

table {
	border-collapse: collapse;
}

img {
	border: 0px;
}

a {
	text-decoration: underline;
	color: #212121;
}

a:hover {
	color: #888;
	text-decoration: none;
}

p {
	padding: 0px 0px 20px 0;
}

input, textarea {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: normal;
	color: #312f3e;
}

.submit {
	padding: 2px 5px;
}

nav ul {
	list-style: none;
}

.roller {
	display: block;
	width: 100%;
	height: 0px;
	overflow: hidden;
	font-size: 0px;
	padding: 0px;
	margin: 0px;
	clear: both;
}

.rub {
	display: inline-block;
	overflow: hidden;
	text-indent: -999px;
}

.shadow {
	position: absolute;
	left: 0;
	width: 100%;
}

.title {
	display: block;
	overflow: hidden;
	text-indent: -999px;
	margin-bottom: 28px;
}

.wrapper {
	position: relative;
	width: 920px;
	margin: 0 auto;
	min-height: 100%;
	text-align: left;
}

* html .wrapper {
	height: 100%;
}

footer {
	width: 920px;
	position: relative;
	height: 290px;
	margin: -290px auto 0 auto;
	background: url(../images/footer_bg.png) no-repeat 0 0;
}

.header {
	position: relative;
	height: 212px;
	/*background: url("http://d1st.net16.net/imag/elka.png") no-repeat;
	background-position: 450px 100px;*/
}

.logo {
	position: absolute;
	left: 37px;
	top: 53px;
}

.logo a {
	display: block;
	width: 163px;
	height: 159px;
	overflow: hidden;
	text-indent: -999px;
	/*background:url(../images/logo2.png) no-repeat 0 0;*/
	background: url(../images/logo_new.png) no-repeat 0 0;
	background-size: 100% 100%;
	position: relative;
	top: -20px;
	right: 20px;
}

.top_menu {
	position: absolute;
	left: 225px;
	top: 46px;
}

.top_menu li {
	position: relative;
	display: block;
	float: left;
	margin-right: 10px;
}

.top_menu li a {
	display: block;
	float: left;
	padding: 2px 0 5px 0;
	color: #414141;
	font-size: 11px;
	line-height: normal;
	text-decoration: underline;
}

.top_menu li a:hover {
	color: #888;
	text-decoration: none;
}

.top_menu li.active {
	margin: 0 17px 0 7px;
}

.top_menu li.active a {
	color: #FFF;
	text-decoration: none;
	background: url(../images/top_menu_active.png) repeat-x 0 0;
	cursor: default;
}

.top_menu li.active a:before {
	content: '';
	position: absolute;
	left: -7px;
	top: 0;
	width: 7px;
	height: 19px;
	overflow: hidden;
	background: url(../images/top_menu_corners.png) no-repeat 0 0;
}

.top_menu li.active a:after {
	content: '';
	position: absolute;
	right: -7px;
	top: 0;
	width: 7px;
	height: 19px;
	overflow: hidden;
	background: url(../images/top_menu_corners.png) no-repeat right 0;
}

.twitter_block {
	position: absolute;
	left: 225px;
	top: 92px;
	width: 230px;
	font-size: 11px;
	line-height: 18px;
	font-style: italic;
}

.twitter_block_icon {
	position: absolute;
	left: -18px;
	top: -9px;
	width: 16px;
	height: 11px;
	background: url(../images/twitter_block_icon.png) no-repeat 0 0;
}

.cart_block {
	position: absolute;
	left: 535px;
	top: 50px;
	width: 155px;
	font-size: 11px;
	color: #808080;
	line-height: 16px;
}

.cart_block h4 {
	position: relative;
	display: block;
	float: left;
	padding: 0 7px 5px 20px;
	margin-left: -20px;
	font-size: 11px;
	text-transform: uppercase;
	color: #212121;
	background: url(../images/icon_cart.png) no-repeat 0 1px;
	z-index: 1004;
}

.cart_switcher {
	position: relative;
	display: block;
	float: left;
	width: 17px;
	height: 16px;
	overflow: hidden;
	z-index: 1004;
}

.cart_switcher a {
	display: block;
	width: 17px;
	height: 16px;
	text-indent: -999px;
	overflow: hidden;
	background: url(../images/cart_switch_icon.png) no-repeat 0 0;
}

.cart_switcher.opened a {
	background-position: 0 -16px;
}

.cart_block p {
	font-style: italic;
	padding-bottom: 10px;
}

.cart_price {
	font-size: 12px;
	font-weight: bold;
}

.cart_block p .rub {
	width: 10px;
	height: 10px;
	margin-top: 2px;
	background: url(../images/rub_blind_small.png) no-repeat 0 0;
}

.cart_order_link a {
	display: block;
	padding-left: 19px;
	background: url(../images/icon_arrow.png) no-repeat 0 5px;
}

.cart_order_link a:hover {
	background-position: 0 -18px;
}

.cart_info {
	position: absolute;
	top: -12px;
	left: -34px;
	z-index: 998;
	width: 314px;
	background: url(../images/cart_info_bg.png) repeat-x left bottom #FFF;
	border: 1px solid #f8f8f8;
	border-radius: 2px;
	display: none;
	z-index: 1003;
}

.cart_info .inner {
	padding: 48px 13px 23px 15px;
}

.cart_info_item {
	height: 65px;
}

.cart_info_num {
	float: left;
	width: 18px;
	height: 18px;
	padding-top: 1px;
	margin-top: 6px;
	text-align: center;
	font-size: 10px;
	color: #808080;
	background: url(../images/cart_info_num_bg.png) no-repeat 0 0;
}

.cart_info_num:first-child {
	text-align: left;
	padding-left: 6px;
	width: 12px;
}

.cart_info_pic {
	float: left;
	width: 72px;
	text-align: center;
}

.cart_info_name {
	float: left;
	width: 180px;
	padding-top: 2px;
}

.cart_info_name h3 {
	font-size: 11px;
	text-transform: uppercase;
	padding-bottom: 5px;
	font-weight: normal;
	margin: 0;
}

.twit_code {
	background: url(../images/backgr.png) repeat-x;
	height: 107px;
	overflow: hidden;
	width: 230px;
	position: relative;
}

.twit_code b {
	background: url(../images/backgr.png) 0 -68px repeat-x;
	height: 30px;
	width: 230px;
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
}

.twit_code iframe {
	margin-top: -36px;
	margin-left: -1px;
	width: 250px;
}

.cart_info_name h3 a {
	text-decoration: none;
}

.cart_info_name h3 a:hover {
	color: #000;
	text-decoration: underline;
}

.cart_info_name h3 a:active {
	color: #888;
	text-decoration: none;
}

.cart_info_price {
	color: #000;
	font-size: 11px;
	font-weight: bold;
}

.cart_info_name .rub {
	width: 9px;
	height: 9px;
	margin-top: 3px;
	background: url(../images/rub_black_small_bold.png) no-repeat 0 0;
}

.cart_info_delete {
	float: right;
	width: 11px;
	height: 12px;
	margin-top: 4px;
}

.cart_info_delete a {
	display: block;
	width: 11px;
	height: 12px;
	text-indent: -999px;
	overflow: hidden;
	background: url(../images/cart_info_delete.png) no-repeat 0 0;
}

.cart_info_delete a:hover {
	background-position: 0 -12px;
}

.cart_summary {
	padding-top: 5px;
	float: right;
	line-height: normal;
	font-size: 11px;
	color: #616161;
}

.cart_summary_price {
	font-size: 18px;
	color: #000;
	font-weight: bold;
	margin-left: 5px;
}

.cart_summary .rub {
	width: 14px;
	height: 16px;
	margin-top: -2px;
	background: url(../images/rub_black_big.png) no-repeat 0 0;
}

.cart_info .cart_order_link {
	float: right;
	margin-top: 15px;
}

.cart_info_shadow {
	position: absolute;
	bottom: -27px;
	left: 50%;
	width: 289px;
	height: 27px;
	margin-left: -145px;
	background: url(../images/cart_info_shadow.png) no-repeat 0 0;
}

.contacts_block {
	position: absolute;
	right: 0;
	top: 45px;
	font-size: 11px;
}

.contacts_block p {
	margin-top: -3px;
	padding: 0px 0 12px 0;
	color: #808080;
	font-style: italic;
	line-height: 24px;
}

.contacts_block span {
	display: block;
	float: left;
	text-transform: uppercase;
	line-height: normal;
}

.contacts_block span.skype {
	padding: 0 20px 5px 22px;
	background: url(../images/icon_messegers.png) no-repeat 2px 0;
}

.contacts_block span.icq {
	padding: 0 0 5px 20px;
	background: url(../images/icon_messegers.png) no-repeat 0 -34px;
}

ul.social {
	float: right;
	margin: 0 -2px 0 0;
	padding: 3px 0 0 0;
	list-style: none;
}

ul.social li {
	float: left;
	width: 12px;
	margin-left: 8px;
}

ul.social i {
	display: block;
	width: 12px;
	height: 12px;
	background-image: url(../images/icon_messegers.png);
}

ul.social .icon-vk {
	background-position: -2px -65px;
}

ul.social a:hover .icon-vk {
	background-position: -2px -80px;
}

ul.social .icon-tw {
	background-position: -2px -100px;
}

ul.social a:hover .icon-tw {
	background-position: -2px -115px;
}

ul.social .icon-fb {
	background-position: -2px -136px;
}

ul.social a:hover .icon-fb {
	background-position: -2px -151px;
}

ul.social .icon-ins {
	background-position: -2px -170px;
}

ul.social a:hover .icon-ins {
	background-position: -2px -185px;
}

.search_block {
	position: absolute;
	right: -1px;
	top: 162px;
	width: 194px;
	height: 19px;
	background: url(../images/search_input.png) no-repeat 0 0;
}

.search_block input[type="text"] {
	position: absolute;
	left: 22px;
	top: 0px;
	width: 142px;
	height: 15px;
	padding: 0;
	font-size: 11px;
	line-height: normal;
	color: #999;
	font-style: italic;
	border-color: transparent;
	background-color: transparent;
}

.search_block input[type="reset"] {
	position: absolute;
	right: 8px;
	top: 6px;
	display: block;
	width: 7px;
	height: 7px;
	overflow: hidden;
	text-indent: -999px;
	border: 0;
	background-color: transparent;
	background: url(../images/icon_search_reset.png) no-repeat 0 0;
	cursor: pointer;
}

.search_block input[type="reset"]:hover {
	background-position: 0 -7px;
}

.search_block input[type="submit"] {
	position: absolute;
	right: -13px;
	top: 4px;
	display: block;
	width: 8px;
	height: 8px;
	overflow: hidden;
	text-indent: -999px;
	border: 0;
	background-color: transparent;
	background: url(../images/icon_search_submit.png) no-repeat 0 0;
	cursor: pointer;
}

.search_block input[type="submit"]:hover {
	background-position: 0 -8px;
}

.content {
	padding-bottom: 300px;
}

.presentation {
	position: relative;
	width: 937px;
	margin: 0 0 42px -11px;
}

.presentation.switchable {
	height: auto;
	background-color: #fff;
}

.presentation.selected {
	background-color: #fff;
}

.presentation.opened {
	padding-bottom: 20px;
	background: url(../images/category_info_bg.png) no-repeat center bottom;
}

.presentation.selected .shadow {
	display: none;
	bottom: -36px;
	height: 70px;
	background: url(../images/presentation_shadow.png) no-repeat center top #fff;
	/*background:url("http://d1st.net16.net/imag/presentation_shadow_1.png") no-repeat center top #fff;*/
}

.presentation.opened .shadow {
	display: block;
	bottom: -17px;
	height: 17px;
	background: url(../images/category_info_shadow.png) no-repeat 0 0;
}

.presentation .inner {
	padding: 10px 7px 0 10px;
}

.categories {
	padding: 0 0 15px 5px;
	color: #afafaf;
	font-size: 14px;
	line-height: 20px;
	font-style: italic;
}

.categories li {
	display: inline-block;
}

.categories li:after {
	content: ' / ';
	position: relative;
	z-index: 1002;
}

.categories li:last-child:after {
	content: '';
}

.presentation .categories li > a {
	position: relative;
	color: #000;
	text-decoration: none;
	z-index: 1002;
}

.presentation .categories li > a.promoBrand {
	color: #FF2400;
	font-weight: bold;
}

.presentation .categories li > a:hover {
	color: #888;
}

.presentation .categories li.current > a {
	cursor: default;
}

.presentation.selected .categories li > a {
	color: #b3b3b3;
	text-decoration: none;
}

.presentation.selected .categories li > a:hover, .presentation.selected .categories li.active > a {
	color: #212121;
}

.presentation .categories li.current > a {
	color: #cb4979;
}

.presentation.selected .categories li.active:before {
	content: "";
	display: block;
	position: absolute;
	left: 70px;
	top: 270px;
	width: 800px;
	height: 30px;
	z-index: 1000;
	-webkit-box-shadow: #444444 0 0 40px;
	-moz-box-shadow: #444444 0 0 40px;
	box-shadow: #444444 0 0 40px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.picslider {
	position: relative;
	width: 920px;
	height: 260px;
	background: url(../images/picslider_bg.png) no-repeat 0 0;
}

.presentation.selected .picslider {
	/*display:none;*/
}

.picslide {
	position: absolute;
	left: 0;
	top: 0;
	width: 920px;
	height: 260px;
}

.picslide img {
	position: absolute;
	left: 0;
	top: 0;
}

.slide_text {
	position: absolute;
	left: 46px;
	top: 40px;
	font-family: "Times New Roman", Times, serif;
	color: #FFF;
	font-size: 18px;
	line-height: 20px;
}

.slide_text h3 {
	font-size: 60px;
	font-weight: normal;
	line-height: 50px;
	text-transform: uppercase;
	padding-bottom: 26px;
	margin: 0;
	color: #FFF;
}

.slide_text h3 span {
	margin-left: 45px;
}

.slider_switch {
	position: absolute;
	right: 28px;
	bottom: 18px;
	z-index: 995;
}

.slider_switch a {
	display: block;
	float: left;
	width: 17px;
	height: 16px;
	margin: 0 1px;
	text-indent: -999px;
	overflow: hidden;
	background: url(../images/slider_switch.png) no-repeat 0 0;
}

.slider_switch a.active {
	background-position: 0 -16px;
}

.presentation .cat_short_info {
	display: none;
	position: absolute;
	left: -1px;
	top: -1px;
	width: 937px;
	height: 325px;
	z-index: 1000;
	background: url(../images/presentation_gradient.png) no-repeat center bottom #FFF;
	border: 1px solid #f6f6f6;
	overflow: hidden;
}

.presentation.selected .cat_short_info {
	display: block;
}

.cat_short_info.shown {
	z-index: 992;
}

.cat_short_desc {
	float: left;
	width: 155px;
	padding-top: 105px;
	margin-left: 70px;
	font-size: 11px;
	line-height: 17px;
	color: #191719;
	font-style: italic;
}

.cat_short_desc p {
	padding: 3px 0 22px 0;
}

.cat_short_desc .rub {
	width: 8px;
	height: 9px;
	background: url(../images/rub_small.png) no-repeat 0 0;
}

.all_models_link a {
	display: block;
	padding-left: 16px;
	color: #000;
	background: url(../images/icon_clock.png) no-repeat 0 2px;
}

.cat_short_product {
	float: left;
	width: 170px;
	/*padding-top:65px;*/
	padding-top: 85px;
	text-align: center;
}

.cat_short_product a {
	position: relative;
	display: block;
	height: 190px;
	font-size: 11px;
	color: #000;
	text-decoration: none;
	text-transform: uppercase;
	font-style: normal;
}

.cat_short_product a:hover {
	text-decoration: underline;
}

.cat_short_product a:active {
	color: #888;
	text-decoration: none;
}

.cat_short_product a span {
	display: block;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
}

.category_bar {
	padding-top: 15px;
}

.category_bar h1 {
	display: block;
	float: left;
	margin: -3px 70px 0 0;
	font-size: 24px;
}


.category_switcher {
	float: left;
}

.category_switcher a {
	text-decoration: none;
	color: #414141;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
}

.category_switcher a span {
	margin-right: 3px;
	font-style: italic;
	font-size: 11px;
	border-bottom: 1px dashed #414141;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.category_switcher a:hover, .category_switcher a:hover span {
	color: #000;
}
.text-open {
	margin-bottom: 30px;
}
.text-open a {
	text-decoration: none;
	color: #414141;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
}

.text-open a span {
	margin-right: 3px;
	font-style: italic;
	font-size: 11px;
	border-bottom: 1px dashed #414141;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
.text-open-info {
	margin-bottom:10px;
	display: none;
}


.text-open a:hover, .text-open a:hover span {
	color: #000;
}

.filter {
	float: right;
}

.filter a {
	position: relative;
	display: block;
	float: left;
	color: #a6a6a6;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
}

.filter a span {
	border-bottom: 1px dotted #a6a6a6;
}

.filter a:hover, .filter a.active, .filter a:hover span, .filter a.active span {
	color: #7f3155;
	border-bottom: none;
}

.filter div {
	float: right;
	padding-left: 32px;
}

.sorting {
	padding-left: 70px !important;
}

.sorting a {
	padding-right: 15px;
	background: url(../images/icon_sorting.png) no-repeat right 7px;
}

.sorting a:hover {
	background-position: right -26px;
}

.sortDesc a {
	background-position: right -107px;
}

.sortDesc a:hover {
	background-position: right -74px;
	color: #7f3155;
}

.for_women a {
	padding-left: 19px;
	background: url(../images/icon_women.png) no-repeat 0 2px;
}

.for_women a:hover, .for_women a.active {
	background-position: 0 -32px;
}

.for_men a {
	padding-left: 19px;
	background: url(../images/icon_men.png) no-repeat 0 2px;
}

.for_men a:hover, .for_men a.active {
	background-position: 0 -33px;
}

.filterable a.active span:after {
	position: absolute;
	right: -18px;
	top: 5px;
	content: '';
	display: block;
	width: 11px;
	height: 12px;
	overflow: hidden;
	text-indent: -999px;
	background: url(../images/cart_info_delete.png) no-repeat 0 0;
}

.filterable a.active:hover span:after {
	background-position: 0 -12px;
}

.brand_info {
	position: relative;
	margin: 30px 77px 0 117px;
	line-height: 22px;
	color: #323232;
	font-style: italic;
	display: none;
}

.brand_info_hide {
	position: absolute;
	right: -26px;
	top: 5px;
}

.brand_info_hide a {
	display: block;
	width: 15px;
	height: 16px;
	overflow: hidden;
	text-indent: -999px;
	background: url(../images/category_hide.png) no-repeat 0 0;
}

.brand_info_hide a:hover {
	background-position: 0 -16px;
}

.clock_scroller {
	position: relative;
	padding-bottom: 28px;
	margin-bottom: 82px;
	background: url(../images/clock_scroller_gradient.png) no-repeat center bottom;
}

.clock_scroller .shadow {
	bottom: -17px;
	height: 17px;
	background: url(../images/clock_scroller_shadow.png) no-repeat center top;
}

.clock_scroller .title {
	width: 42px;
	height: 11px;
	background: url(../images/title_clock.png) no-repeat 0 0;
}

.clock_scroller_overlay {
	margin: 0 24px;
	white-space: nowrap;
	overflow: auto;
}

.clock_scroller_item {
	float: left;
	width: 180px;
	height: 290px;
	margin-right: 40px;
	text-align: center;
	font-size: 11px;
	line-height: 18px;
	color: #000;
	font-weight: bold;
}

.clock_scroller_pic {
	height: 200px;
}

.clock_scroller_item a {
	display: block;
	color: #313131;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: normal;
}

.clock_scroller_item a:hover {
	color: #000;
	text-decoration: underline;
}

.clock_scroller_item a:active {
	color: #888;
	text-decoration: none;
}

.clock_scroller_item .rub {
	width: 9px;
	height: 9px;
	background: url(../images/rub_black_small_bold.png) no-repeat 0 0;
}

.intro_text {
	float: left;
	width: 560px;
	color: #515151;
	padding-bottom: 40px;
	font-style: italic;
}

.intro_text h5 {
	font-size: 18px;
	line-height: 24px;
	color: #7f3155;
	padding-bottom: 15px;
	font-weight: normal;
}

.intro_text p {
	padding: 0 0 20px 22px;
}

.news_block {
	position: relative;
	float: right;
	width: 232px;
	padding-bottom: 40px;
	margin: 0 5px 0 0;
	color: #312f3e;
	font-size: 11px;
	line-height: 18px;
}

.news_container {
	position: relative;
	width: 232px;
	height: 227px;
	overflow: hidden;
	z-index: 991;
}

.news_drag, .news_drag:active {
	position: absolute;
	left: 0;
	top: 0;
	cursor: pointer;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}

.news_block article {
	padding-bottom: 5px;
}

.news_date {
	padding-left: 17px;
	margin-left: -17px;
	line-height: 20px;
	color: #808080;
	font-style: italic;
	background: url(../images/icon_clock_gray.png) no-repeat 0 5px;
}

.news_block .title {
	position: absolute;
	left: -50px;
	top: 5px;
	width: 11px;
	height: 76px;
	background: url(../images/title_news.png) no-repeat 0 0;
}

.blinding_top, .blinding_bottom {
	position: absolute;
	right: 0;
	width: 250px;
	height: 31px;
	background-repeat: repeat-x;
	background-position: 0 0;
	z-index: 992;
}

.blinding_top {
	top: -8px;
	background-image: url(../images/blinding_top.png);
}

.blinding_bottom {
	bottom: 40px;
	background-image: url(../images/blinding_bottom.png);
}

.brands_block {}

.brands_block .title {
	width: 63px;
	height: 12px;
	margin-bottom:5px;
	background: url(../images/title_brands.png) no-repeat 0 0;
}

.brands_block a {
	position: relative;
	display: block;
	float: left;
	width: 132px;
	height: 47px;
	overflow: hidden;
	margin: 15px 28px 0 12px;
}

.brands_block a img {
	position: absolute;
	left: 0;
	bottom: 0;
	opacity: 0.2;
}

.brands_block a:hover img {
	opacity: 1;
}

.catalog {
	position: relative;
	width: 928px;
	padding-top: 20px;
	margin-left: -10px;
}

.catalog_item {
	position: relative;
	display: block;
	float: left;
	width: 25%;
	height: 289px;
	margin: 0px 0 44px 0;
	text-align: center;
	text-decoration: none;
	color: #212121;
}

.catalog_item:hover > a, .catalog_item.active > a {
	border: 1px solid #eee;
	border-radius: 2px;
	color: #212121;
}


.catalog_item > a {
	display: block;
	height: 289px;
	color: #212121;
	margin: 0 15px 0 9px;
	border: solid 1px transparent;
}

.catalog_item > a:hover {
	color: #212121;
}

.catalog_item.active {
	background: url(../images/catalog_item_bg.gif) repeat-x left bottom;
}

.catalog_item img {
	margin-top: 10px;
}

.catalog_item.blinded img {
	opacity: 0.5;
}

.catalog_item.active.blinded img {
	opacity: 1;
}

.willcome {
	position: absolute;
	left: 0;
	top: 136px;
	display: block;
	width: 100%;
	padding: 3px 0;
	font-size: 10px;
	line-height: normal;
	background: url(../images/smooth.png) repeat;
}

.catalog_item h4 {
	position: absolute;
	top: 205px;
	left: 0;
	width: 100%;
	font-size: 12px;
	text-transform: uppercase;
}

.catalog_item .price {
	position: absolute;
	display: block;
	top: 223px;
	left: 0;
	width: 100%;
	text-align: center;
	font-size: 12px;
	color: #000;
	font-weight: bold;
}

.catalog_item .rub {
	width: 9px;
	height: 10px;
	background: url(../images/rub_catalog.png) no-repeat 0 0;
}

.price_old {
	font-size: 10px;
	margin-right: 5px;
	margin-left: -40px;
	background: url(../images/stroke.png) repeat-x 0 8px;
}

.price_old .rub {
	width: 7px;
	height: 8px;
	background: url(../images/rub_catalog_small.png) no-repeat 0 0;
}

.price_new {
	font-size: 12px;
	color: #ef0000;
	font-weight: bold;
}

.price_new .rub {
	width: 8px;
	height: 10px;
	background: url(../images/rub_red_bold.png) no-repeat 0 0;
}

.add2cart {
	position: absolute;
	top: 250px;
	left: 50%;
	display: block;
	width: 19px;
	height: 11px;
	margin-left: -9px;
}

.add2cart a {
	display: block;
	width: 19px;
	height: 11px;
	text-indent: -999px;
	overflow: hidden;
	background: url(../images/icon_buy.png) no-repeat 0 0;
}

.add2cart.special a {
	background-image: url(../images/icon_buy2.png);
}

.add2cart a:hover {
	background-position: 0 -11px;
}

.coming_feed_link {
	position: absolute;
	left: 0;
	top: 245px;
	width: 100%;
}

.coming_feed_link a {
	text-decoration: none;
	color: #cb4979;
	border-bottom: 1px dotted #cb4979;
	font-size: 11px;
}

.coming_feed_link a:hover {
	color: #f6b5cd;
	border-color: #f6b5cd;
}

.coming_form {
	position: absolute;
	top: 190px;
	left: 14px;
	width: 176px;
	display: none;
}

.coming_form input[type=text] {
	width: 94%;
	padding: 3px 3%;
	height: 11px;
	margin-bottom: 7px;
	font-size: 11px;
	color: #808080;
	font-style: italic;
}

.coming_form input[type=submit] {
	padding: 2px 5px;
	font-size: 11px;
	margin-top: 5px;
}

.catalog_item_close {
	position: absolute;
	right: 8px;
	top: 8px;
	display: none;
}

.catalog_item_close a {
	display: block;
	width: 8px;
	height: 7px;
	overflow: hidden;
	text-indent: -999px;
	background: url(../images/close_catalog_item.png) no-repeat 0 0;
}

.catalog_item_close a:hover {
	background-position: 0 -7px;
}

.new {
	position: absolute;
	right: -6px;
	top: -6px;
	width: 33px;
	height: 34px;
	overflow: hidden;
	text-indent: -999px;
	background: url(../images/new.png) no-repeat 0 0;
}

.sale {
	position: absolute;
	right: -6px;
	top: 32px;
	width: 37px;
	height: 18px;
	overflow: hidden;
	text-indent: -999px;
	background: url(../images/sale.png) no-repeat 0 0;
}

.catalog_item.active .hideonactive {
	display: none !important;
}

.catalog_item.active .showonactive {
	display: block;
}

.product_count {
	position: absolute;
	top: 252px;
	left: 85px;
}

.product_count input {
	position: absolute;
	left: 0;
	top: 0;
	width: 31px;
	height: 17px;
	font-size: 11px;
	color: #363636;
	text-align: center;
}

.product_count_up, .product_count_down {
	display: block;
	position: absolute;
	left: 39px;
	width: 10px;
	height: 10px;
	overflow: hidden;
	text-indent: -999px;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}

.product_count_up {
	top: 0;
	background-image: url(../images/count_up.png);
}

.product_count_down {
	top: 10px;
	background-image: url(../images/count_down.png);
}

.product_count_metric {
	display: block;
	position: absolute;
	left: 55px;
	top: 3px;
	font-size: 11px;
	color: #363636;
}

.page_title {
	margin-bottom: 25px;
}

.payment_methods {
	line-height: 22px;
	padding: 0 30px 20px 60px;
}

.delivery_methods {
	line-height: 22px;
	padding: 40px 30px 20px 50px;
	color: #363636;
}

.payment_methods ol {
	list-style-position: 20px 10px;
}

.delivery_methods ul {
	list-style: none;
}

.payment_methods ol li {
	position: relative;
	padding: 0 0 30px 0;
}

.delivery_methods ul li {
	position: relative;
	padding: 0 0 30px 0;
}

.payment_methods ol li.smallpad {
	padding-bottom: 10px;
}

.payment_methods ol li p {
	padding: 0;
}

.payment_icon {
	position: absolute;
	left: -60px;
	top: 0;
}

.delivery_methods .payment_icon {
	left: -50px;
}

.attention {
	margin: 10px 0 0 -23px;
	padding: 4px 20px 5px 35px !important;
	border-radius: 4px;
	color: #616161;
	background: url(../images/icon_attention.png) no-repeat 10px 8px #ebebeb;
}

.remark {
	margin: 0 110px 20px 0;
	padding: 4px 20px 5px 14px;
	border-radius: 4px;
	color: #616161;
	background-color: #ebebeb;
}

.remark.lined {
	display: inline-block;
	margin: 10px 0 15px 0;
}

.remark p {
	padding: 0;
}

.frame {
	margin: 0px 52px 38px 40px;
	padding: 15px 15px 15px 23px;
	border: 1px solid #c5c5c5;
	border-radius: 4px;
	line-height: 22px;
}

.frame p {
	padding: 0;
}

.frame a.mail {
	display: inline-block;
	padding-left: 17px;
	margin-left: 3px;
	color: #000;
	background: url(../images/icon_mail.png) no-repeat 0 8px;
}

.frame ol {
	padding: 0 0 0 20px;
}

.frame ol li {
	padding-bottom: 15px;
}

.product_info {
	position: relative;
	color: #312f3e;
	line-height: 22px;
}

.zoomer {
	position: absolute;
	left: -999px;
	top: -999px;
	cursor: crosshair;
	opacity: 0;
}

.product_zoom {
	position: absolute;
	right: 0;
	top: 0;
	width: 466px;
	height: 466px;
	overflow: hidden;
	display: none;
}

.product_zoom img {
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
}

.product_left {
	position: relative;
	float: left;
	width: 438px;
	padding-bottom: 80px;
}

.product_right {
	position: relative;
	float: right;
	width: 466px;
	padding-bottom: 80px;
}

.product_pic_big {
	width: 378px;
	height: 415px;
	text-align: center;
}

.movetozoom {
	position: absolute;
	left: 110px;
	top: 380px;
	color: #666;
	font-size: 11px;
	padding-left: 20px;
	background: url(../images/zoom_in.png) no-repeat 0 3px;
}

.product_previews {
	position: relative;
	width: 376px;
	height: 81px;
}

.product_previews_container {
	position: relative;
	width: 338px;
	height: 81px;
	margin-left: 19px;
	overflow: hidden;
}

.product_previews_track {
	position: absolute;
	left: 0;
	top: 0;
	height: 81px;
}

.product_previews_track img {
	float: left;
}

.product_previews_track a.active img {
	outline: 2px solid #ffebc4;
	outline-offset: -2px;
	cursor: default;
}

.smooth_left {
	position: absolute;
	left: 0px;
	top: 0;
	width: 36px;
	height: 81px;
	background: url(../images/previews_smooth_left.png) no-repeat 0 0;
}

.smooth_right {
	position: absolute;
	right: 0px;
	top: 0;
	width: 48px;
	height: 81px;
	background: url(../images/previews_smooth_right.png) no-repeat 0 0;
}

.previews_arrow_left, .previews_arrow_right {
	position: absolute;
	top: 31px;
	display: block;
	width: 9px;
	height: 14px;
	overflow: hidden;
	text-indent: -999px;
	background: url(../images/previews_arrows.png) no-repeat 0 0;
}

.previews_arrow_left {
	left: 0px;
}

.previews_arrow_right {
	right: 0;
	background-position: 0 -14px;
}

.brandpic {
	height: 56px;
}

.product_info h1 {
	font-size: 24px;
	padding-bottom: 10px;
}

.product_pice {
	padding-bottom: 22px;
	font-size: 18px;
	font-weight: bold;
	color: #000;
}

.product_pice.margined {
	margin-left: -16px;
}

.product_pice.old {
	float: left;
	font-size: 16px;
	color: #999;
	margin-left: -14px !important;
	text-decoration: line-through;
	margin-top: 6px;
}

.product_pice.newest {
	float: left;
	font-size: 20px;
	color: #ef0000;
	font-weight: bold;
	margin-left: 20px;
	margin-top: 6px;
}

.product_pice .rub {
	width: 13px;
	height: 14px;
	background: url(../images/rub_black_18.png) no-repeat 0 0;
}

.product_pice.old .rub {
	width: 12px;
	height: 12px;
	background: url(../images/rub_grey_stroked.png) no-repeat 0 0;
}

.product_pice.newest .rub {
	width: 15px;
	height: 16px;
	background: url(../images/rub_red_bold_big.png) no-repeat 0 0;
}

.product_sale {
	float: left;
	margin: 6px 20px 0 10px;
}

.product_socials {
	padding-bottom: 15px;
}

.product_social_item {
	float: left;
	margin-right: 28px;
}

.hidden_desc {
	display: none;
}

.desc_switcher {
	position: relative;
	margin-top: -10px;
}

.desc_switcher a {
	color: #111;
	font-size: 11px;
	text-decoration: none;
	border-bottom: 1px dashed #111;
}

.desc_switcher a:before {
	content: '↓';
	display: inline-block;
	width: 12px;
	margin-left: -12px;
}

.desc_switcher.up a:before {
	content: '↑';
}

.desc_switcher a:hover {
	color: #888;
	border-color: #888;
}

.additional_info {
	padding: 38px 0 41px 0;
}

.additional_info h4 {
	margin: 0 0 5px -16px;
	color: #212121;
}

.additional_info td {
	padding: 0 33px 0 0;
}

.coming_soon {
	position: absolute;
	right: 0;
	top: 95px;
}

.tell_coming a {
	color: #cb4979;
	border-bottom: 1px dotted #cb4979;
	text-decoration: none;
	font-size: 11px;
}

.coming_soon .popup {
	width: 220px;
	height: 140px;
	right: -14px;
	top: -7px;
	text-align: center;
}

.coming_soon .popup .inner {
	padding: 30px 0 0 0;
}

.coming_soon .popup input[type=text] {
	width: 168px;
	height: 18px;
	padding: 0 5px;
	font-size: 11px;
	font-style: italic;
	margin-bottom: 10px;
}

.coming_soon .popup .popup_shadow {
	background-image: url(../images/popup_small_shadow.png);
	background-repeat: no-repeat;
}

.add2cart_product {
	position: absolute;
	right: 0;
	top: 60px;
}

.add2cart_product a {
	display: block;
	float: right;
	padding: 0 0 0 26px;
	color: #cb4979;
	background: url(../images/icon_add2cart.png) no-repeat 0 5px;
}

.product_new {
	position: absolute;
	left: -40px;
	top: 55px;
	width: 33px;
	height: 34px;
	background: url(../images/new.png) no-repeat 0 0;
}

.anyquestions {
	position: relative;
}

.aniquestions_link {
	position: relative;
}

.aniquestions_link a {
	display: block;
	float: left;
	font-size: 11px;
	color: #000;
	text-decoration: none;
	line-height: 18px;
	border-bottom: 1px dotted #000;
}

.aniquestions_link a:before {
	content: '';
	position: absolute;
	left: -16px;
	top: 5px;
	display: block;
	width: 11px;
	height: 10px;
	background: url(../images/icon_popup.png) no-repeat 0 0;
}

.aniquestions_link a:hover {
	color: #888;
	border-color: #888;
}

.popup {
	display: none;
	position: absolute;
	background: url(../images/popup_gradient.png) repeat-x left bottom #fafafa;
	z-index: 999;
}

.popup_shadow {
	position: absolute;
	bottom: -23px;
	left: 0;
	width: 100%;
	height: 23px;
	background: url(../images/popup_shadow.png) center top;
}

.popup .inner {
	padding: 28px 23px 25px 28px;
}

.closelink {
	position: absolute;
	right: 11px;
	top: 11px;
}

.closelink a {
	display: block;
	width: 8px;
	height: 7px;
	overflow: hidden;
	text-indent: -999px;
	background: url(../images/close_catalog_item.png) no-repeat 0 0;
}

.closelink a:hover {
	background-position: 0 -7px;
}

.anyquestions .popup {
	top: -96px;
	left: -37px;
	width: 400px;
}

.popup label {
	display: block;
	line-height: normal;
	font-size: 12px;
	color: #414141;
	padding-bottom: 0px;
}

.popup input[type=text] {
	width: 100%;
	height: 17px;
	margin-bottom: 15px;
}

.popup input[type=submit] {
	padding: 2px 5px;
}

.popup textarea {
	width: 100%;
	height: 118px;
	margin-bottom: 15px;
}

.related_products {}

.related_products h4 {
	padding-bottom: 20px;
}

.checkout {
	width: 918px;
	min-height: 264px;
	border-left: 1px solid #f1f1f1;
	border-right: 1px solid #f1f1f1;
	background: url(../images/checkout_bottom.png) no-repeat left bottom;
}

.checkout_top {
	width: 918px;
	height: 6px;
	margin-bottom: 35px;
	overflow: hidden;
	background: url(../images/checkout_top.png) repeat-x 0 0;
}

.checkout h2,.checkout h1  {
	display: block;
	text-align: center;
	padding-bottom: 40px;
	font-size: 36px;
	color: #000;
	font-weight: bold;
	text-transform: none;
}

.checkout h5 {
	font-size: 11px;
	font-weight: bold;
	font-style: italic;
	color: #363636;
	padding-bottom: 15px;
}

.checkout section {
	position: relative;
	border-top: 1px solid #f1f1f1;
	padding: 44px 0 32px 0;
}

.product_confirmation {
	text-align: center;
}

.section_title {
	position: absolute;
	top: -12px;
	left: 0;
	width: 100%;
	height: 23px;
	text-align: center;
}

.checkout section h3 {
	display: inline-block;
	height: 21px;
	padding: 2px 9px 0 9px;
	border-radius: 10px;
	font-size: 12px;
	color: #f1f1f1;
	font-weight: normal;
	font-style: italic;
	text-transform: none;
	background: url(../images/checkout_title.png) repeat-x 0 0;
}

.checkout .catalog {
	display: inline-block;
	width: auto;
	padding-top: 0;
	text-align: center;
}

.product_confirmation .catalog_item {
	width: 203px;
}

.product_delete {
	position: absolute;
	right: 24px;
	top: 14px;
	width: 11px;
	height: 12px;
	overflow: hidden;
	text-indent: -999px;
	background: url(../images/cart_info_delete.png) no-repeat 0 0;
	cursor: pointer;
	display: none;
}

.product_confirmation .catalog_item:hover .product_delete {
	display: block;
}

.product_delete:hover {
	background-position: 0 -12px;
}

.shipping_left {
	width: 255px;
	float: left;
	margin: 0 55px 0 32px;
	padding-bottom: 40px;
}

.shipping_left input {
	color: #363636;
	font-size: 11px;
	width: 96%;
	height: 17px;
	padding: 0px 2%;
	margin-bottom: 10px;
}

.shipping_left select {
	color: #000;
	font-size: 11px;
	width: 101%;
	padding: 0 0 0 2%;
	height: 22px;
	margin-bottom: 10px;
}

.shipping_mid {
	float: left;
	width: 238px;
	margin: 0 50px 0 0;
	font-size: 11px;
}

.shipping_icon {
	float: left;
	width: 30px;
	margin-left: -2px;
	margin-top: -3px;
	padding-bottom: 10px;
}

.payment_select {
	float: right;
	width: 200px;
	height: 22px;
	font-size: 11px;
}

.iknown {
	position: relative;
	margin-top: 5px;
}

.iknown label {
	position: absolute;
	top: 3px;
	left: 0;
	color: #363636;
}

.iknown select {
	float: right;
	width: 155px;
	height: 22px;
	font-size: 11px;
}

.another {
	display: none;
	padding-top: 29px;
	margin-bottom: 20px;
}

.another textarea {
	border: #999999 1px solid;
	border-top: #737373 1px solid;
	padding: 3px 6px;
	width: 224px;
	height: 36px;
	line-height: 14px;
	font-size: 11px;
	color: #363636;
}

.shipping_right {
	float: left;
	width: 260px;
}

.shipping_right textarea {
	width: 96%;
	height: 135px;
	padding: 5px 2%;
	font-size: 11px;
}

.shipping_choose {
	font-size: 11px;
	color: #363636;
	line-height: 16px;
	margin-bottom: 20px;
}

.shipping_choose input {
	float: left;
	margin: 1px 10px 0 40px;
}

.shipping_choose label {
	display: block;
	float: left;
	width: 360px;
	margin: 0 15px 0 0;
}

.shipping_choose strong {
	display: block;
	padding-bottom: 2px;
	color: #000;
	font-size: 12px;
}

.shipping_choose p {
	padding-bottom: 10px;
}

.itog_tables {
	padding: 0 0 20px 345px;
}

.itog_tables table {
	margin-bottom: 10px;
}

.itog_tables table td {
	padding: 0 15px 3px 0;
	font-size: 13px;
	text-align: right;
	color: #616161;
}

.itog_tables table td.itog_price_step {
	font-size: 18px;
	color: #000;
}

.itog_tables table td.itog_price {
	font-size: 24px;
	color: #000;
}

.itog_tables table td.itog_label {
	padding: 6px 15px 3px 90px;
}

.itog_price_step .rub {
	width: 11px;
	height: 14px;
	margin-top: 2px;
	text-indent: 999px;
	background: url(../images/rub_itog_step.png) no-repeat 0 0;
}

.itog_price .rub {
	width: 13px;
	height: 19px;
	margin-top: 2px;
	text-indent: 999px;
	background: url(../images/rub_itog.png) no-repeat 0 0;
}

.coupon {
	padding: 0 0 30px 323px;
}

.coupon label {
	display: block;
	float: left;
	padding: 0 10px 0 0;
	font-size: 11px;
	color: #363636;
}

.coupon label a {
	color: #363636;
	text-decoration: none;
	border-bottom: 1px dotted #363636;
}

.coupon input {
	float: left;
	width: 155px;
	height: 18px;
}

.itog_submit {
	text-align: center;
}

.thankyou {
	text-align: center;
	margin-top: -40px;
	font-size: 14px;
	color: #666;
}

.waithour {
	padding-top: 30px;
	font-size: 12px;
}

.faqsec {
	position: relative;
	padding: 0 0 32px 38px;
}

.faqsec h4 {
	font-size: 13px;
	color: #000;
	font-weight: bold;
	text-transform: uppercase;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	margin-bottom: 8px;
}

.faqsec h4 img {
	position: absolute;
	left: 10px;
	top: 0;
}

.faqsec > a {
	display: inline-block;
	margin-bottom: 5px;
	color: #363636;
	text-decoration: none;
	border-bottom: 1px dotted #363636;
}

.faqsec > a:hover {
	color: #000;
	border-color: #000;
}

.faqsec > a.active {
	font-weight: bold;
	color: #000;
	border: 0;
}

.faq_answer {
	display: none;
	position: relative;
	margin: 5px 56px 12px 0;
	padding: 15px 58px 0 25px;
	background-color: #ebebeb;
	border-radius: 4px;
	color: #363636;
	line-height: 24px;
}

.faq_close {
	position: absolute;
	right: 14px;
	top: 14px;
	display: block;
	width: 12px;
	height: 12px;
	text-indent: -999px;
	overflow: hidden;
	background: url(../images/faq_close.png) no-repeat 0 0;
}

.page404 .header {
	height: 145px;
}

.page404 .logo {
	left: 50%;
	margin-left: -82px;
}

.page404 .content {
	padding-bottom: 20px;
}

.icon-404 {
	margin: -10px 0 20px 0;
	text-align: center;
}

.descr-404 {
	text-align: center;
	font-size: 12px;
	line-height: 22px;
}

footer .inner {
	padding-top: 46px;
	text-align: left;
}

.footer_left {
	float: left;
	margin-right: 70px;
	white-space: nowrap;
	font-size: 11px;
}

.footer_left .year {
	text-align: right;
	font-size: 10px;
}

.paymeths_block {
	float: right;
	margin-top: 18px;
	height: 10px;
}

.social_links {
	float: right;
	margin-top: 32px;
}

.paymeths_block ul, .social_links ul {
	list-style: none;
}

.paymeths_block ul li, .social_links ul li {
	display: inline;
}

.paymeths_block ul li a {
	display: block;
	float: left;
	margin-left: 10px;
	overflow: hidden;
	text-indent: -999px;
}

.paymeths_block ul li.visa a {
	width: 18px;
	height: 6px;
	margin-top: 2px;
	background: url(../images/paymeth_visa.png) no-repeat 0 0;
}

.paymeths_block ul li.visa a:hover {
	background-position: 0 -6px;
}

.paymeths_block ul li.maestro a {
	width: 15px;
	height: 10px;
	background: url(../images/paymeth_maestro.png) no-repeat 0 0;
}

.paymeths_block ul li.maestro a:hover {
	background-position: 0 -10px;
}

.paymeths_block ul li.mastercard a {
	width: 15px;
	height: 10px;
	background: url(../images/paymeth_mastercard.png) no-repeat 0 0;
}

.paymeths_block ul li.mastercard a:hover {
	background-position: 0 -10px;
}

.fl-left {
	float: left;
	width: 207px;
}

.twitt {
	float: left;
	width: 207px;
}

.timeline-header {
	display: none;
}

.vk_block {
	width: 207px;
}

.vksec {
	float: left;
	padding: 0 0px 0 5px;
	text-align: center;
	display: none;
}

.vksec a {
	color: #999;
	font-size: 10px;
	text-decoration: none;
	line-height: normal;
}

.vksec img {
	margin-bottom: -7px;
}

.fb_block {
	width: 242px;
}

.twitt .title {
	height: 9px;
	margin: 5px 0 6px 0;
	background: url(../images/twitter.jpg) no-repeat 0 0;
}

.vk_block .title {
	width: 76px;
	height: 9px;
	margin: 5px 0 0 0;
	background: url(../images/title_vk.png) no-repeat 0 0;
}

.fb_block .title {
	width: 70px;
	height: 9px;
	margin: 5px 0 12px 0;
	background: url(../images/title_fb.png) no-repeat 0 0;
}

.fb_block p {
	padding: 0;
	font-size: 11px;
	line-height: 16px;
	display: none;
}

.like {
	position: relative;
	margin-top: 12px;
	padding: 0px 0 10px 55px;
	font-size: 11px;
}

.like a {
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	width: 46px;
	height: 22px;
	overflow: hidden;
	text-indent: -999px;
	background: url(../images/social_buttons.png) no-repeat 0 0;
}

.vk_block .like a {
	background-position: 0 -22px;
}

.vk_block .like a:hover {
	background-position: 0 0;
}

.fb_block .like a {
	background-position: 0 -66px;
}

.fb_block .like a:hover {
	background-position: 0 -44px;
}

.footer_right {
	position: relative;
	float: right;
	width: 194px;
	font-size: 11px;
	line-height: 18px;
}

.footer_right p {
	padding-bottom: 20px;
}

.footer_right p a {
	display: inline-block;
	padding-left: 14px;
	margin-left: 3px;
	color: #000;
	background: url(../images/icon_mail.png) no-repeat 0 5px;
}

.footer_right .phone {
	font-size: 18px;
	padding-bottom: 18px;
}

.footer_right .phone span {
	display: block;
	font-size: 11px;
	color: #808080;
	font-style: italic;
}

.press_me a {
	display: block;
	padding-left: 24px;
	color: #b8b8b8;
	background: url(../images/icon_pressme.png) no-repeat 0 3px;
}

.press_me a:hover {
	color: #888;
	background-position: 0 -37px;
}

.game {
	position: absolute;
	right: 94px;
	top: -88px;
	width: 211px;
	height: 262px;
	background: url(../images/game_bg.png) no-repeat 0 0;
	/*background:url(../images/game_bg1.png) no-repeat 0 0;*/
}

.newgame {
	position: absolute;
	left: 10px;
	top: 10px;
}

.newgame a {
	display: block;
	padding-left: 17px;
	font-size: 11px;
	color: #666;
	text-decoration: none;
	background: url(../images/icon_cicle.png) no-repeat 0 3px;
}

.newgame a:hover {
	color: #000;
	background-position: 0 -24px;
}

.newgame.c1 a {
	background-position: 0 -51px;
	color: #000;
}

.newgame.c2 a {
	background-position: 0 -78px;
	color: #000;
}

.newgame.c3 a {
	background-position: 0 -107px;
	color: #000;
}

.newgame.c4 a {
	background-position: 0 -134px;
	color: #000;
}

.newgame.c5 a {
	background-position: 0 -161px;
	color: #000;
}

.newgame.c6 a {
	background-position: 0 -188px;
	color: #000;
}

.newgame.c7 a {
	background-position: 0 -215px;
	color: #000;
}

.newgame.c8 a {
	background-position: 0 -242px;
	color: #000;
}

.playground {
	position: absolute;
	top: 40px;
	left: 15px;
	width: 183px;
}

.playground img {
	float: left;
	margin: 0 6px 3px 0;
}

.resultLine {
	position: absolute;
	overflow: hidden;
	display: none;
}

.resultLine.rlx {
	display: block;
	background-color: #932d56;
}

.resultLine.rlo {
	display: block;
	background-color: #f183a3;
}

.resultLine.hor {
	left: 0;
	width: 171px;
	height: 2px;
}

.resultLine.ver {
	top: 2px;
	width: 2px;
	height: 168px;
}

.resultLine.diag {
	height: 2px;
}

.resultLine.hor.type1 {
	top: 27px;
}

.resultLine.hor.type2 {
	top: 85px;
}

.resultLine.hor.type3 {
	top: 143px;
}

.resultLine.ver.type1 {
	left: 26px;
}

.resultLine.ver.type2 {
	left: 85px;
}

.resultLine.ver.type3 {
	left: 144px;
}

.resultLine.diag.type1 {
	width: 225px;
	top: 85px;
	left: -28px;
	transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=0.7071067811865476, M12=0.7071067811865475, M21=-0.7071067811865475, M22=0.7071067811865476);
	/* IE */
}

.resultLine.diag.type2 {
	width: 225px;
	top: 83px;
	left: -28px;
	transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=0.7071067811865476, M12=0.7071067811865475, M21=-0.7071067811865475, M22=0.7071067811865476);
	/* IE */
}

.game .closelink {}

.game .closelink a {
	width: 12px;
	height: 12px;
	background: url(../images/closelink_rounded.png) no-repeat 0 0;
	position: relative;
	top: -10px;
	left: -3px;
}

.game .closelink a:hover {
	background-position: 0 -12px;
}

.placeholdered {
	color: #999 !important;
}

/*.foot_ng {
width: 100%;
background: url("http://d1st.net16.net/imag/foot_bg.png") repeat-x;
background-position: bottom center;
}

.hat {
margin-left: 600px;
margin-top: 40px;
}*/

.imgAvaible {
	margin: 5px 0 -5px 10px;
}

.noAvaible {
	color: #CB4979;
	display: inline;
	font-size: 13px;
	padding: 0 0 0 10px;
}

div.show-more {
	text-align: center;
}

div.show-more a {
	background: -moz-linear-gradient(0% 90% 90deg, #DDDDDD, #FCFCFC) repeat scroll 0 0 rgba(0, 0, 0, 0);
	color: #444444;
	display: inline-block;
	font-size: 14pt;
	height: 40px;
	line-height: 40px;
	width: 50%;
	border: 1px solid #BBBBBB;
	border-radius: 0.5em;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	text-shadow: 1px 1px 2px #FFFFFF, 0 1px 2px #FFFFFF, -1px 1px 2px #FFFFFF;
}

.presentation .categories li:first-child > a {
	font-weight: bold;
	color: #CC0066;
}

#COUNTRY_ORDER_PROP_5 > option {
	display: none;
}

#COUNTRY_ORDER_PROP_5 > option:nth-child(1),
#COUNTRY_ORDER_PROP_5 > option:nth-child(2),
#COUNTRY_ORDER_PROP_5 > option:nth-child(3),
#COUNTRY_ORDER_PROP_5 > option:nth-child(4),
#COUNTRY_ORDER_PROP_5 > option:nth-child(5) {
	display: block;
}


.text_input {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: middle;
	border-top: #7c7c7c 1px solid;
	border-right: #c3c3c3 1px solid;
	border-bottom: #dddddd 1px solid;
	border-left: #c3c3c3 1px solid;
	box-shadow: 0 1px 0 #c3c3c3 inset, 1px 0 0 #f0f0f0 inset, -1px 0 0 #f0f0f0 inset;
	padding: 2px 6px;
	height: 14px;
	line-height: 14px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #808080;
	font-style: italic;
}

.login_page {
	width: 880px;
	padding: 23px 0 7px 0;
	margin: 40px auto;
	position: relative;
	font-size: 12px;
}

.login_page:after {
	content: "";
	display: block;
	width: 2px;
	height: 100%;
	background: #faf0f5;
	position: absolute;
	left: 50%;
	top: 0;
	margin-left: -1px;
}

.login_page_column {
	float: left;
	width: 370px;
	margin: 0 35px;
}

.login_page_forgot {
	margin-top: 100px;
	margin-bottom: 100px;
}

.login_page_forgot:after {
	display: none;
}

.login_page_forgot .login_page_column {
	float: none;
	width: 344px;
	margin-left: auto;
	margin-right: auto;
}

.login_page_column .title {
	height: 11px;
	margin-bottom: 22px;
	margin-left: 90px;
	background-image: url(../images/icons-all.png);
	background-repeat: no-repeat;
}

.title_new_user {
	background-position: -80px -130px;
}

.title_forgot {
	background-position: 0 -210px;
}

.title_login {
	background-position: -80px -145px;
}

.login_page_column form {
	font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.control_group {
	margin-bottom: 14px;
	*zoom: 1;
}

.control_group:before, .control_group:after {
	display: table;
	line-height: 0;
	content: "";
}

.control_group:after {
	clear: both;
}

.form_horisontal .label {
	float: left;
	width: 72px;
	text-align: right;
}

.form_horisontal .control {
	margin-left: 90px;
	margin-bottom: 0;
}

.form_horisontal .control-btn {
	margin-left: 90px;
	padding-top: 4px;
}

.login_page .text_input {
	width: 228px;
}

.help_inline {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: top;
	margin-left: 8px;
	padding-top: 3px;
	line-height: 18px;
}

.forgin_pass_link {
	margin-left: 90px;
	margin-top: 32px;
}

.encryption {
	margin-left: 20px;
	margin-top: 51px;
	padding-left: 25px;
	color: #888888;
	line-height: 20px;
}

.icon-encryption {
	display: block;
	width: 14px;
	height: 20px;
	background: url(../images/icons-all.png) -180px -40px no-repeat;
	float: left;
	margin-left: -25px;
	margin-top: -2px;
}

.btn_ok {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: middle;
	background: url(../images/icons-all.png) 0 -100px no-repeat;
	border: none;
	width: 36px;
	height: 19px;
	text-indent: -9999px;
	cursor: pointer;
}

.login_block {
	position: absolute;
	left: 535px;
	top: 46px;
	font-size: 11px;
}

.login_link {
	/*	padding-left: 14px;	*/
}

.icon-lock {
	display: block;
	width: 12px;
	height: 12px;
	background: url(../images/icons-all.png) 0 0 no-repeat;
	float: left;
	margin-left: -18px;
	margin-top: 4px;
}

.icon-user {
	display: block;
	width: 25px;
	height: 25px;
	background: url(../images/icons-all.png) -40px -100px no-repeat;
	float: left;
	margin-left: -32px;
	margin-top: -3px;
}

.logon_name {
	position: relative;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: top;
	max-width: 80px;
}

.logon_param {
	position: absolute;
	top: -12px;
	left: 100%;
	margin-left: 8px;
	white-space: nowrap;
}

.wish_count {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: middle;
	width: 32px;
	overflow: hidden;
}

.wish_count a {
	text-decoration: none;
}

.logon_param .icon-star {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: middle;
	width: 13px;
	height: 13px;
	background: url(../images/icon-star-small.png) left top no-repeat;
	margin-top: -3px;
	margin-right: 4px;
}

.logon_param .wish_count:hover .icon-star {
	background: url(../images/icon-star-small-hover.png) left top no-repeat;
}

.logon_param .count {
	/* display:none; */
}
