.recipe-day-slide {
    z-index: 500;
    position: fixed;
    bottom: 50px;
    left: -300px;
    width: 199px;
    overflow: hidden;
    background: #FFFFFF;
    padding: 20px 15px 15px 15px;
    border: 1px solid #eee;
    text-align: center;
    -moz-box-shadow: 0 0 20px #777;
    -o-box-shadow: 0 0 20px #777;
    box-shadow: 0 0 10px 1px #666
}
.recipe-day-slide .slide-close {
    margin: 0;
    text-align: right;
    color: #000;
    cursor: pointer;
    position: absolute;
    top: 3px;
    right: 4px;
    z-index: 99999999999999;
    opacity: 1
}
.recipe-day-slide .slide-head {
    line-height: 1.1;
    color: #1d211f;
    text-align: center;
    border-top: 2px solid #1d211f;
    padding: 0 0 0;
    padding-top: 5px;
    margin-top: 10px
}
.recipe-day-slide .slide-pic {
    width: auto;
    display: block;
    margin: 15px auto
}
.recipe-day-slide .slide-title {
    text-decoration: none;
    padding: 10px 0;
    margin: 0;
    margin-top: -15px
}
.recipe-day-slide .slide-item {
    border-top: 1px dashed #c0bbaf;
    margin: 10px 0 0;
    padding: 10px 0 0
}
.recipe-day-slide .slide-item img {
    float: left;
    border: 1px solid #999;
    width: 85px;
    margin: 0 10px 0 0;
    height: auto !important
}
.recipe-day-slide .slide-item span {
    color: #999
}
.recipe-day-slide .slide-item p {
    padding: 0 0 0 97px
}
.recipe-day-slide .slide-title a {
    color: #111;
    text-align: center;
}
.recipe-day-slide .slide-remove {
    background-image: url(/images/slide-close-button.png);
    background-size:contain;
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    top: 2px;
    right: 2px;

}