
.wrapper .form_filter .filter_block label{
margin-right:3px;
}
.wrapper .form_filter .style_block{
	width:190px;
}
.filter_box{
	/* border:1px solid blue; */
}

.inner .form_filter .filter_block{
	margin-left:10px;
}
.mechanism_block{
	width:80px;
}

.color_block{
	width:250px;
/* 	border:1px solid #ccc; */
}

.wrapper .filter_box .color_block label{
display:inline-block;
margin:10px 10px 0 0;	 
	
}
.country_block{
	width:100px;
/* 	border:1px solid blue; */
}
.block_name{
	width:100px!important;	
}
.wrapper .form_filter .filter_toddler .toddler_block{
	width:810px;
}

.filter_brands_mobile {
	display: none;
}