/* change colours to suit your needs */

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* change border colour to suit your needs */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input, select {
    vertical-align: middle;
}

#over-popup {
    background: rgba(255, 255, 255, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    display: none;
}

.pop-up {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 9999;
    width: 550px;
    box-sizing: border-box;
    padding: 40px 40px 35px 50px;
    background: url(./images/bg.png) no-repeat 0 0;
    background-size: 100% 100%;
}

.pop-up .product_delete {
    top: 22px;
    display: inherit;
}

.pop-up h3 {
    font-size: 18px;
    color: #e7317a;
    margin-bottom: 25px;
    font-weight: 300;
    font-family: Tahoma, Arial, sans-serif;
    text-align: center;
    letter-spacing: 1px;
}

.pop-up p {
    font-size: 14px;
    line-height: 1.2;
    color: #949494;
    margin-bottom: 40px;
    font-weight: 300;
    font-family: Tahoma, Arial, sans-serif;
    text-align: center;
    letter-spacing: 1px;
}

.pop-up p.success {
    color: #2aab2a;
}

.pop-up p.error {
    color: #ff0000;
}

#form-subscribe fieldset {
    border: 1px solid #c4c4c4;
    position: relative;
    padding: 30px;
    margin-bottom: 20px

}

.subscribe-title {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: #ff84a6;
    padding: 5px 30px;
    color: #fff;
    font-size: 14px;
    line-height: 1.2;
    color: #fff;
    border-radius: 20px;
    border-top: 1px solid #b7546c;
    font-family: Tahoma, Arial, sans-serif;
}

.form-row {
    font-size: 0;
}

.form-line {
    width: 48%;
    display: inline-block;
    vertical-align: top;

}

.form-line:first-child {
    margin-right: 4%;
}

.form-line input {
    border: 1px solid #c9c9c9;
    box-sizing: border-box;
    width: 100%;
    height: 26px;
    padding: 0 10px;
    color: #000;
    font-size: 14px;
    font-family: Tahoma, Arial, sans-serif;
}

.form-line input::-webkit-input-placeholder {
    opacity: 1;
    color: #b4b4b4;
}

.form-line input::-o-input-placeholder {
    opacity: 1;
    color: #b4b4b4;
}

.form-line input::-ms-input-placeholder {
    opacity: 1;
    color: #b4b4b4;
}

.form-line input::-moz-placeholder {
    opacity: 1;
    color: #b4b4b4;
}

.form-line input::-moz-placeholder {
    opacity: 1;
    color: #b4b4b4;
}

.submit-line {
    text-align: center;
}

.submit-line input {
    color: #414141;
    font-size: 14px;
    border: 1px solid #a1a1a1;
    font-family: Tahoma, Arial, sans-serif;
    padding: 3px 10px 4px;
    cursor: pointer;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.submit-line input:hover {
    opacity: 0.7;
}