html,body {
	background: #eef3fa;
	font-family: Verdana;
}
.wrap {
	background: #fff;
	width: 1000px;
	margin: 0 auto;
	height: 780px;
}
.header {
	background: #c1d5e5;
	height: 80px;

}
span {
	font-family: Verdana;
}
.h1 {
	float: left;
	margin-left: 40px;
	line-height: 70px;
}
.h2 {
	float: left;
	margin-left: 150px;
	font-size: 40px;
	line-height: 70px;
}
.h3 {
	float: right;
	line-height: 70px;
	font-size: 40px;
}

a {
	text-decoration: underline;
	color: #000;
}
a:hover {
	text-decoration: none;
	color: #000;
}

input.pole {
margin: 27px 40px 0 0;
border: 0;
outline: none; 
width: 250px;
padding: 3px 10px;
font-size: 14px;
color: #b7b7b7;
float: right;
}

.top {
	height: 200px;
	background: #fff;
}

.top1 {
	float: left;
}

.top2 {
	float: right;
	margin-right: 320px;
}
.top2 ul li {
	display: block;
	float: left;
	padding-left: 20px;
	font-size: 18px;
	margin-top: 70px;
}

.med {
	height: 250px;
	
}

.med1 {
	float: left;
	width: 400px;
	margin:  40px 0 0 40px;

}

.med2 {
	float: right;
	margin: 40px 200px 0 0;
}

.blo {
	height: 250px;
	
}

.blo1 {
	
	float: left;
	width: 250px;
	margin-left: 40px;	
}
.blo2 {
	
	width: 250px;
	float: left;
	margin-left: 60px;	
}
.blo3 {
	
	width: 250px;
	float: left;
	margin-left: 60px;	
}

