*::-webkit-input-placeholder {
	color: #222222;
	opacity: 1;
	font-family: "PR";
}
*::-moz-placeholder {
	color: #222222;
	opacity: 1;
	font-family: "PR";
}
*::-moz-placeholder {
	color: #222222;
	opacity: 1;
	font-family: "PR";
}
*:-ms-input-placeholder {
	color: #222222;
	opacity: 1;
	font-family: "PR";
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}

* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
br {
	line-height: 0px;
}
html {
	width: 100%;
	overflow-x: hidden;
	margin-right: 0px!important;
	overflow-y: auto!important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.loader {
	background: none repeat scroll 0 0 #ffffff;
	bottom: 0;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 9999;
}
.loader .loader_inner {
	background-image: url("../img/preloader.gif");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #fff;
	height: 60px;
	width: 60px;
	margin-top: -30px;
	margin-left: -30px;
	left: 50%;
	top: 50%;
	position: absolute;
}

body {
	font-size: 15px;
	min-width: 320px;
	position: relative;
	line-height: 1.4;
	font-family: "PR", sans-serif;
	overflow-x: hidden;
	background-color: #fff;
	letter-spacing: 0.04em;
	overflow-y: hidden;
	color: #222;
}
.hidden {
	display: none
}

a, a:hover, a:visited, a:focus, a:active, button, button:hover, button:visited, button:focus, button:active {
	outline: none;
	text-decoration: none;
	-webkit-transition: all 0.3s ease;  
	-ms-transition: all 0.3s ease;  
	transition: all 0.3s ease;
	cursor: pointer;
}
img {
	width: 100%;
}

/*Start - toggle button (Сэндвич)*/ 

.menu__btn {
	width: 70px;
	padding: 13px;
	cursor: pointer;
}
.menu__btn span {
	height: 2px;
	background-color: #222;
	display: block;
	position: relative;
	-webkit-transition: all 0.4s ease;  
	-ms-transition: all 0.4s ease;  
	transition: all 0.4s ease;
}
.menu__btn span:first-child {
	width: 35px;
	margin-bottom: 7px;
}
.menu__btn span:last-child {
	width: 20px;
}



.menu__btn_active span:last-child {
	width: 35px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	top: -5px;
}
.menu__btn_active span:first-child {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	top: 4px;
}

/*########################### MAIN PAGE #############################*/

/*___________ 1. HEADER (Шапка сайта) __________*/

.header__head_mob {
	padding-top: 18px;
	padding-bottom: 15px;
	border-bottom: 1px solid #F5F5F5;
	margin-bottom: 20px;
	position: relative;
}
.toggle_menu {
	background-color: #E9E9E9;
	position: absolute;
	top: 100%;
	left: 0px;
	width: 100%;
	z-index: 100;
	display: none;
}
.mob_search__input {
	outline: none;
	border: none;
	background-color: #eee;
	height: 40px;
	width: 100%;
	padding-left: 35px;
}
.mob_search {
	position: relative;
	background-color: #eee;
}
.mob_search__icon {
	top: 50%;
	left: 15px;
	margin-top: -9px;
	position: absolute;
	cursor: pointer;
	background: none;
	outline: none;
	border: none;
}

.mob_nav__link {
	display: block;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #222!important;
}
.mob_nav__link_red {
	color: #f74d4d!important;
}
.mob_nav__link_red:hover {
	color: #f74d4d!important;
}
.mob_nav {
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #E2E2E2;
}
.mob_bottom__nav {
	padding-top: 5px;
	padding-bottom: 5px;
}
.mob_bottom__nav li a {
	display: block;
	font-size: 14px;
	color: #222!important;
	padding-top: 4px;
	padding-bottom: 4px;
}
.phone__free {
	line-height: 12px;
	font-size: 12px;
	color: #616161;
	padding-top: 5px;
}
.mob_acc__wrap {
	background-color: #F6F6F6;
	padding-top: 10px;
	padding-bottom: 10px;
}
.mob_acc a {
	display: inline-block;
	color: #222!important;
}
.mob_acc a span {
	display: inline-block;
	vertical-align: middle;
}
.acc__text {
	margin-left: 5px;
}
.rem__padd {
	padding-left: 25px!important;
	padding-right: 25px!important;
}












.header-head__top  {
	background-color: #222;
	text-align: center;
	padding: 10px 0px;
}
.header-head__top p {
	color: #ffffff;
	font-size: 12px;
	line-height: 14px;
}
.header-head__top p a {
	border-bottom: 1px solid #3E3E3E;
	color: #fff!important;
}
.header-head__top p a:hover {
	border-bottom: 1px solid transparent;
	color: #a1a1a1!important;
}
.header-head__bottom {
	padding-top: 22px;
}
.phone {
	padding-top: 4px;
}
.phone__number {
	font-family: "PB";
	font-size: 20px;
	line-height: 23px;
}
.phone__time {
	font-size: 10px;
	color: #616161;
	line-height: 10px;
}
.certificate {
	position: absolute;
	top: 8px;
	left: 0px;
}
.certificate a {
	display: inline-block;
	font-size: 13px;
	color: #222!important;
}
.search__icon {
	display: inline-block;
	cursor: pointer;
	width: 16px;
}
.search__icon i {
	margin-left: -3px;
}
.search {
	position: absolute;
	right: 140px;
	top: 0px;
	padding-top: 7px;
}
.logo__link {
	display: inline-block;
	width: 88px;
	color: #222!important;
}
.logo__link i {
	font-size: 28px;
	position: relative;
	margin-left: -56px;
}
.logo {
	display: inline-block;
}
.text_center {
	text-align: center;
}
.h-b-center__content {
	position: relative;
}
.header__acc, .header__wishlist, .header__basket, .header__logout {
	display: inline-block;
}
.header__wishlist {
	margin-left: 42px;
	position: relative;
	top: 6px;
}
.header__logout {
	margin-left: 20px;
	top: 6px;
	position: relative;
}
.header__acc {
	position: relative;
	top: 6px;
}
.header__basket {
	cursor: pointer;
	margin-left: 42px;
	position: relative;
	top: 4px;
}
.header__basket:hover .basket__count {
	background-color: #C1C1C1;
}

.acc__icon, .wishlist__icon, .basket__icon, .logout__icon {
	display: inline-block;
	cursor: pointer;
}
.acc__icon, .wishlist__icon, .header__basket .basket__icon, .basket__icon, .search__icon, .logout__icon, .basket__count {
	-webkit-transition: all 0.3s ease;  
	-ms-transition: all 0.3s ease;  
	transition: all 0.3s ease;
}
.acc__icon:hover, .wishlist__icon:hover, .header__basket:hover .basket__icon, .basket__icon:hover, .search__icon:hover, .logout__icon:hover {
	color: #C1C1C1;
}
.icon-icon-profile {
	margin-left: -2px;
}
.icon-icon-wishlist {
	margin-left: -3px;
}
.acc__icon {
	width: 16px;
}
.wishlist__icon, .logout__icon {
	width: 17px;
	margin-left: -2px;
	position: relative;
}
.wish {
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: #fff;
	box-shadow: inset 0px 0px 0px 3px #F74D4D;
	position: absolute;
	top: 0px;
	right: -3px;
}
.basket__icon {
	width: 15px;
}
.basket__icon {
	margin-right: 5px;
	vertical-align: middle;
}
.basket__count {
	border-radius: 10em;
	vertical-align: middle;
	min-width: 24px;
	height: 24px;
	background-color: #222;
	color: #fff;
	font-size: 12px;
	font-family: "PB";
	line-height: 26px;
	text-align: center;
	display: inline-block;
	padding-left: 3px;
	padding-right: 3px;
	text-indent: 1px;
}
.h-b-right__content {
	text-align: right;
}
.auth, .checkout__auth {
	width: 330px;
	box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1); 
	background-color: #fff;
	text-align: left;
	position: absolute;
	top: 0px;
	right: 15px;
	overflow: hidden;
	z-index: 5;
	display: none;
}

.auth__tab {
	width: 50%;
	float: left;
	cursor: pointer;
	font-size: 14px;
	font-family: "PR";
	text-align: center;
	background-color: #f8f8f8;
	color: #999999;
	line-height: 52px;
	height: 50px;
}
.auth .auth_active {
	font-family: "PB";
	background-color: #fff;
	color: #222;
}
.auth .auth__tab-item { display: none; }
.auth .auth__tab-item_active { display: block; }
.auth__content {
	padding: 65px 40px 20px;
	position: relative;
}
.auth__close {
	position: absolute;
	top: 20px;
	right: 20px;
	cursor: pointer;
	color: #9D9D9D;
	z-index: 3;
}
.auth__close:hover {
	color: #C5C5C5;
}
.footer__input .input {
	margin-bottom: 0px;
}

.inputt {
	outline: none;
	border: none;
	border-bottom: 1px solid #BBBBBB;
	font-family: "PR";
	background-color: transparent;
	color: #222;
	padding-bottom: 3px;
	width: 100%;
	margin-bottom: 30px;
}

.btn {
	font-size: 14px;
	text-align: center;
	line-height: 43px;
	padding-left: 16px;
	padding-right: 16px;
	height: 42px;
	border-radius: 3px;
	display: inline-block;
	border: none;
	text-indent: 1px;
	outline: none;
	cursor: pointer;
	-webkit-transition: all 0.3s ease;  
	-ms-transition: all 0.3s ease;  
	transition: all 0.3s ease;
}
.btn_black {
	background-color: #222222;
	color: #fff!important;
}
.btn_black:hover {
	background-color: #414141;
	color: #cccccc!important;
}
.btn_trans_grey {
	color: #222!important;
	border: 1px solid #DDDDDD;
	background-color: transparent;
}
.btn_trans_grey:hover {
	color: #9C9C9C!important;
	border: 1px solid #EEEEEE;
}
.auth-btn__wrap {
	padding-bottom: 40px;
}
.auth__soc p {
	display: inline-block;
	font-size: 12px;
	line-height: 12px;
	vertical-align: middle;
	padding-right: 10px;
	padding-top: 2px;
}
.auth__soc a {
	display: inline-block;
	vertical-align: middle;
}
.link {
	color: #222!important;
}
.link:hover {
	color: #a1a1a1!important;
}
.soc__icon {
	width: 35px;
	height: 35px;
	border-radius: 3px;
	background-color: #45668E;
	text-align: center;
	color: #fff!important;
}
.soc__icon:hover {
	background-color: #567DAD;
}
.soc__icon {
	line-height: 36px;
}
.vk__icon {
	font-size: 10px;
}
.icon-icon-vk {
	margin-left: -7px;
}
.vk__icon {
	margin-right: 3px;
}
.forgot__pass {
	font-size: 12px;
	cursor: pointer;
	float: right;
	margin-top: 12px;
	-webkit-transition: all 0.3s ease;  
	-ms-transition: all 0.3s ease;  
	transition: all 0.3s ease;
}
.log-in {
	font-size: 12px;
	cursor: pointer;
	float: right;
	margin-top: 12px;
	-webkit-transition: all 0.3s ease;  
	-ms-transition: all 0.3s ease;  
	transition: all 0.3s ease;
}
.link_grey {
	color: #999999!important;
}
.link_grey:hover {
	color: #bbbbbb!important;
}
.forgot-pass__content {
	position: absolute;
	background-color: #fff;
	z-index: 2;
	top: 0px;
	left: 0px;
	width: 100%;
	padding: 65px 40px 0px;
}
.nav__wrap {
	border-top: 1px solid #F7F7F7;
	border-bottom: 1px solid #F7F7F7;
	margin-top: 18px;
	margin-bottom: 32px;
}
.nav {
	text-align: right;
}
.nav__item {
	display: inline-block;
}
.nav__item:first-child,
.nav__item:nth-child(2) {
	float: left;
}
.nav__link {
	display: block;
	color: #222!important;
	font-family: "PB";
	line-height: 15px;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 15px;
	padding-right: 15px;
	-webkit-transition: background-color 0s ease, color 0.3s ease!important;
	-moz-transition: background-color 0s ease, color 0.3s ease!important;
	-ms-transition: background-color 0s ease, color 0.3s ease!important; /* IE10 is actually unprefixed */
	-o-transition: background-color 0s ease, color 0.3s ease!important;
	transition: background-color 0s ease, color 0.3s ease!important;
}
.nav__link:hover {
	color: #a1a1a1!important;
}
.nav__item:first-child .nav__link {
	padding-left: 0px;
}
.nav__item:last-child .nav__link {
	padding-right: 0px;
}
.nav__link_red {
	color: #f74d4d!important;
}
.nav__link_red:hover {
	color: #f74d4d!important;
}

.dropdown {
	background-color: #fff;
	position: absolute;
	top: 100%;
	left: 0px;
	right: 0px;
	width: 100%;
	border-left: 15px solid #fff;
	border-right: 15px solid #fff;
	border-top: 1px solid #F6F6F6;
	padding: 40px;
	text-align: left;
	z-index: 5;
	display: none;
}
.nav__item:hover .dropdown {
	display: block;
}
.nav__item__dd:hover .nav__link {
	background-color: #fff;
	color: #BCBCBC!important;
}
.dd-goggles__wrap {
	padding-top: 20px;
}
.link_bold {
	font-family: "PB";
}
.dropdown__nav li {
	padding-bottom: 8px;
}
.dropdown__nav li:last-child {
	padding-bottom: 0px;
}
.dropdown__nav li a {
	line-height: 15px;
	color: #222!important;
}
.dropdown__nav li .link_bold {
	font-family: "PB";
}
.dd-clocks__wrap {
	padding-bottom: 35px;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.3s ease;  
	-ms-transition: all 0.3s ease;  
	transition: all 0.3s ease;
	background-color: #fff;
}
.dropdown__nav li:hover .dd-clocks__wrap {
	opacity: 1;
	visibility: visible;
}
.dropdown__nav .brend_active .dd-clocks__wrap {
	opacity: 1;
	visibility: visible;
}
.dropdown__nav {
	display: inline-block;
	text-align: left;
}
.dd-brends {
	position: relative;
	padding-top: 225px;
}
.col-7 {
	width: 14.285%;
	float: left;
}
.dropdown__item {
	text-align: center;
	cursor: pointer;
}


.dd-item__name,
.dd-item__price {
	color: #222!important;
}
.dropdown__item:hover .dd-item__name,
.dropdown__item:hover .dd-item__price {
	color: #a1a1a1!important;
}
.dd-item__name, .dd-item__price, .dd-item-img__wrap  {
	-webkit-transition: all 0.3s ease;  
	-ms-transition: all 0.3s ease;  
	transition: all 0.3s ease;
} 
.dropdown__item:hover .dd-item-img__wrap {
	opacity: .8;
}



.dd-item__img {
	display: inline-block;
}
.dd-item__name {
	font-size: 12px;
	line-height: 16px;
}
.goggles__nav {
	text-align: center;
	padding-top: 50px;
}
.goggles__nav li {
	display: inline-block;
	padding-right: 70px;
}
.goggles__nav li:last-child {
	padding-right: 0px;
}
.h-basket {
	width: 380px;
	box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1); 
	background-color: #fff;
	text-align: left;
	position: absolute;
	padding: 25px;
	top: 0px;
	right: 15px;
	overflow: hidden;
	z-index: 5;
	display: none;
}
.h-basket__title {
	font-family: "PB";
	line-height: 15px;
	padding-bottom: 10px;
	border-bottom: 1px solid #222;
}
.h-basket__close {
	position: absolute;
	top: 21px;
	right: 24px;
	cursor: pointer;
	color: #9D9D9D;
	z-index: 3;
}
.h-basket__close:hover {
	color: #C5C5C5;
}
.h-basket__item {
	border-bottom: 1px solid #f3f3f3;
	margin-top: 20px;
	padding-bottom: 20px;
	position: relative;
	padding-left: 60px;
	min-height: 86px;
}
.h-basket__item_last {
	border-bottom: 1px solid #222;
}
.h-basket__img {
	width: 50px;
	position: absolute;
	top: 0px;
	left: 0px;
}
.h-basket__name {
	font-size: 14px;
	line-height: 17px;	
	padding-bottom: 4px;
	padding-top: 12px;
	display: inline-block;
	padding-right: 25px;
}
.h-basket__price > span:first-child {
	font-size: 14px;
	display: inline-block;
	vertical-align: middle;
	padding-right: 12px;
}
.h-basket__price > span:first-child span {
	font-size: 12px;
}
.h-basket__price > span:last-child {
	font-size: 11px;
	color: #999999;
	display: inline-block;
	vertical-align: middle;
	text-decoration: line-through;
}
.h-basket__price > span:last-child span {
	font-size: 10px;
}
.h-basket__delete {
	position: absolute;
	right: 5px;
	top: 10px;
	color: #ACACAC;
	cursor: pointer;
	-webkit-transition: all 0.3s ease;  
	-ms-transition: all 0.3s ease;  
	transition: all 0.3s ease;
}
.h-basket__delete:hover {
	color: #DFDFDF;
}
.h-basket__total {
	padding-top: 20px;
}
.h-basket__btn {
	float: right;
}
.h-basket__total p {
	display: inline-block;
	font-family: "PB";
	padding-top: 12px;
}
.h-basket__total p > span {
	display: inline-block;
}
.h-basket__total p > span:first-child {
	padding-right: 20px;
}
.h-basket__total p > span:last-child span {
	font-size: 11px;
}
.slide {
	outline: none;
}
.h-slide__img {
	height: auto;
}
.header .slick-dots {
	text-align: center;
	margin-top: -37px;
	position: relative;
	z-index: 2;
}
.brends__slider .slick-dots, 
.one-product__slider .slick-dots {
	text-align: center;
	position: relative;
	z-index: 2;
}
.header .slick-dots li,
.brends__slider .slick-dots li,
.one-product__slider .slick-dots li {
	display: inline-block;
	margin-right: 6px;
}
.header .slick-dots li:last-child,
.brends__slider .slick-dots li:last-child,
.one-product__slider .slick-dots li:last-child {
	margin-right: 0px;
}
.header .slick-dots li button,
.brends__slider .slick-dots li button,
.one-product__slider .slick-dots li button {
	background-color: #fff;
	border-radius: 50%;
	width: 5px;
	height: 5px;
	outline: none;
	border: none;
	font-size: 0px;
	color: transparent;
}
.brends__slider .slick-dots li button, 
.one-product__slider .slick-dots li button {
	background-color: #eeeeee;
}
.header .slick-dots .slick-active button,
.brends__slider .slick-dots .slick-active button,
.one-product__slider .slick-dots .slick-active button { 
	background-color: #222;
	box-shadow: 0px 0px 0px 2px #222;
}


.accordeon {
	border-bottom: 1px solid #EAEAEA;
}
.accordeon dd {	
	display: none; 
	padding-top: 10px;
	padding-bottom: 10px;
}
.accordeon dt {
	font-family: "PB";
	padding-top: 11px;
	padding-bottom: 10px;
	border-top: 1px solid #EAEAEA;
	position: relative;
	cursor: pointer;
}
.accordeon dt span {
	right: 0px;
	top: 50%;
	margin-top: -10px;
	position: absolute;
	width: 20px;
	height: 20px;
	text-align: center;
}
.accordeon dt span:after {
	content: '+';
	font-size: 27px;
	line-height: 23px;
	color: #C7C7C7;
	font-family: "PB";
}
.accordeon .acc_active span:after { 
	 content: '—';
	 font-size: 22px;
}

/*___________ 2. ADVANTAGES (Преимущества) __________*/


.advantages {
	padding-top: 60px;
	padding-bottom: 40px;
}
.adv__item {
	position: relative;
	padding-left: 40px;
	display: inline-block;
}
.adv-item__icon {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	left: 0px;
}
.icon-icon-original {
	font-size: 27px;
}
.icon-icon-instock {
	font-size: 24px;
}
.icon-icon-shipping {
	font-size: 24px;
}
.adv-item__text {
	font-size: 20px;
	line-height: 22px;
}
.adv-item__wrap {
	text-align: center;
}


/*___________ 3. INSTAGRAM (Инстаграм) __________*/


.item_square {
	position: relative;
	cursor: pointer;
	margin-bottom: 30px;
	-webkit-transition: all 0.3s ease;  
	-ms-transition: all 0.3s ease;  
	transition: all 0.3s ease;
}
.item_square_hover {
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	position: absolute;
	background-color: rgba(0,0,0,.5);
	text-align: center;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.5s ease;  
	-ms-transition: all 0.5s ease;  
	transition: all 0.5s ease;
}
.item_square:hover .item_square_hover {
	opacity: 1;
	visibility: visible;
}
.item_square_hover__text {
	color: #fff!important;
	font-family: "PB";
	line-height: 17px;
	display: block;
	padding-top: 7px;
}
.inst__icon {
	display: inline-block;
	color: #fff!important;
	font-size: 18px;
}
.item_square_hover__content {
	display: block;
	position: absolute;
	top: 50%;
	left: 0px;
	width: 100%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.instagram__item {
	height: 263px;
	padding: 43px;
	padding-bottom: 0px;
	background-color: #F6F6F6;
	position: relative;
}
.instagram__item p {
	font-size: 20px;
	line-height: 26px;
	padding-bottom: 25px;
}
.inst__btn i {
	margin-right: 5px;
	display: inline-block;
}


/*___________ 4. POPULAR (Популярные товары) __________*/


.sections {
	padding-top: 45px;
	position: relative;
}
.popular {
	padding-top: 30px;
}
h2 {
	font-weight: normal;
	font-family: "PB";
	font-size: 38px;
	line-height: 38px;
	text-align: center;
}

.item {
	text-align: center;
	position: relative;
	cursor: pointer;
	-webkit-transition: all 0.3s ease;  
	-ms-transition: all 0.3s ease;  
	transition: all 0.3s ease;
	padding-top: 50px;
	padding-bottom: 22px;
	margin-bottom: 30px;
}
.item img {
	max-width: 283px;
	max-height: 292px;
	margin-bottom: 25px;
}
.item__close {
	position: absolute;
	top: 20px;
	right: 20px;
	border-radius: 40px;
	background-color: #f6f6f6;
	text-align: center;
	width: 40px;
	height: 35px;
	cursor: pointer;
}
.item__close i {
	line-height: 36px;
	font-size: 11px;
}
.item:hover {
	box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.06);
}
.item__price .rub {
	font-size: 12px;
}
.item__price {
	font-size: 14px;
}
.item__name {
	padding-bottom: 5px;
	font-size: 14px;
	position: relative;
	color: #222!important;
}
.item .label {
	top: 20px;
	left: 20px;
}
.label {
	border-radius: 20px;
	font-size: 10px;
	line-height: 18px;
	padding-left: 8px;
	padding-right: 8px;
	position: absolute;
	-webkit-transition: all 0.3s ease;  
	-ms-transition: all 0.3s ease;  
	transition: all 0.3s ease;
}
.item:hover .label {
	opacity: 1;
	visibility: visible;
}
.label_new {
	color: #311ebe;
	background-color: #D9E0F0;
}
.favorites, .quick-view {
	position: absolute;
	right: 10px;
	width: 59px;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.3s ease;  
	-ms-transition: all 0.3s ease;  
	transition: all 0.3s ease;
}
.favorites {
	top: 15px;
}
.pr-favorites {
	display: inline-block;
	width: 40px;
	position: relative;
}
.pr-favorites .favorites__text {
	position: absolute;
	bottom: -15px;
	left: 50%;
	margin-left: -25px;
}
.quick-view {
	top: 80px;
}
.favorites__icon,
.quick-view__icon {
	border-radius: 40px;
	background-color: #f6f6f6;
	text-align: center;
	width: 40px;
	height: 35px;
	display: inline-block;
	-webkit-transition: all 0.3s ease;  
	-ms-transition: all 0.3s ease;  
	transition: all 0.3s ease;
}
.favorites__icon {
	cursor: pointer;
}
.favorites__icon .icon-icon-wishlist,
.favorites__icon .icon-icon-wishlist-select { 
	line-height: 38px;
	font-size: 10px;
	margin-left: -2px;
}
.quick-view .icon-icon-quick-view {
	line-height: 36px;
	font-size: 10px;
	margin-left: -4px;
}
.favorites__icon .icon-icon-wishlist,
.quick-view .icon-icon-quick-view {
	color: #B7B7B7;
	transform: scale(1.1, 1.1); 
	-ms-transform: scale(1.1, 1.1);
	-webkit-transform: scale(1.1, 1.1);
	-moz-transform: scale(1.1, 1.1);
	-o-transform: scale(1.1, 1.1);
}
.favorites__icon .icon-icon-wishlist-select {
	color: #F87F77;
}
.favorites__text,
.quick-view__text {
	font-size: 9px;
	line-height: 11px;
	color: #c5c5c5;
	padding-top: 5px;
	display: inline-block;
}/* 
.favorites__icon:hover,
.quick-view__icon:hover {
	transform: scale(1.1, 1.1); 
	-ms-transform: scale(1.1, 1.1);
	-webkit-transform: scale(1.1, 1.1);
	-moz-transform: scale(1.1, 1.1);
	-o-transform: scale(1.1, 1.1);
} */
.item:hover .favorites, .item:hover .quick-view {
	opacity: 1;
	visibility: visible;
}
.popular__nav {
	padding-top: 20px;
}
.item_square__text {
	position: absolute;
	width: 100%;
	left: 0px;
	bottom: 10px;
	text-align: center;
}
.popular-nav__text {
	bottom: 20px;
}
.item_square__text__title {
	font-family: "PB";
	color: #fff;
	line-height: 15px;
	padding-bottom: 8px;
}
.item_square__text__desc {
	font-size: 10px;
	line-height: 12px;
	color: #fff;
}
.item_square_opacity:hover {
	opacity: .8;
} 



/*___________ 5. BRENDS (Популярные бренды) __________*/


.brends__items {
	padding-top: 40px;
	padding-bottom: 30px;
}


/*___________ 6. FOOTER (Футер) __________*/


.footer {
	background-color: #F6F6F6;
	padding-top: 30px;
}
.footer__text {
	font-family: "PB";
	line-height: 24px;
}
.footer__form {
	margin-top: 15px;
	padding-right: 140px;
	position: relative;
}
.footer__btn {
	position: absolute;
	bottom: 0px;
	right: 0px;
	line-height: 43px;
	text-indent: 2px;
}
.footer__head {
	border-bottom: 1px solid #EFEFEF;
	padding-bottom: 30px;
}
.footer-phone__number {
	font-size: 32px;
	font-family: "PB";
	line-height: 32px;
	padding-bottom: 7px;
}
.footer-phone__free, .footer-phone__time {
	color: #616161;
	font-size: 12px;
	line-height: 17px;
}
.footer__body {
	padding-top: 30px;
	padding-bottom: 40px;
}
.footer__phone {
	display: inline-block;
}
.payment-methods {
	float: right;
}
.payment-method {
	display: inline-block;
	margin-left: 3px;
}
.payment-method:first-child {
	margin-left: 0px;
}
.footer__contacts {
	padding-top: 100px;
}
.link_border {
	color: #222!important;
	border-bottom: 1px solid #E6E6E6;
}
.link_border:hover {
	color: #a1a1a1!important;
	border-bottom: 1px solid transparent;
}
.footer-contacts__text {
	font-size: 12px;
	line-height: 16px;
	display: inline-block;
}
.soc {
	float: right;
}
.soc__sub {
	color: #fff!important;
	display: inline-block;
	border-radius: 3px;
	padding: 5px 12px 5px 0px;
}
.soc__sub-vk {
	background-color: #45668E;
}
.soc__sub-vk i {
	font-size: 9px;
}
.soc__sub span:last-child {
	font-size: 12px;
	padding-left: 3px;
}
.soc-sub__icon {
	width: 38px;
	display: inline-block;
	text-align: center;
	border-right: 1px solid rgba(255,255,255,.1);
}
.soc__sub-fb {
	background-color: #3B5998;
}
.soc__sub-fb i {
	font-size: 13px;
}
.soc__sub-inst {
	background-color: #D73576;
}
.soc__sub-inst i {
	font-size: 14px;
}
.soc__sub {
	margin-left: 10px;
}
.soc__sub:hover {
	opacity: .8;
}
.soc__sub:first-child {
	margin-left: 0px;
}
.link_border_red {
	color: #f74d4d!important;
	border-bottom: 1px solid #F6E5E5;
}
.link_border_red:hover {
	color: #f74d4d!important;
	border-bottom: 1px solid transparent;
}
.footer__list li {
	padding-bottom: 7px;
}
.footer-list__wrap {
	text-align: right;
}
.footer__list {
	text-align: left;
	display: inline-block;
	vertical-align: top;
}
.footer__list:first-child {
	width: 200px;
}
.footer__foot {
	border-top: 1px solid #EEEEEE;
	padding-top: 12px;
	padding-bottom: 12px;
}
.copyright {
	font-size: 12px;
	color: #616161;
	line-height: 15px;
	padding-top: 4px;
}
.ff__soc {
	text-align: right;
}
.ff__soc a {
	color: #ccc!important;
}
.ff__soc i {
	display: inline-block;
}
.ff__soc .icon-icon-vk {
	font-size: 11px;
}
.ff__soc .icon-icon-twitter {
	font-size: 13px;
}
.ff__soc a:last-child {
	margin-left: 20px;
	position: relative;
	top: -1px;
}
.ff__soc a:nth-child(3) {
	margin-left: 15px;
	position: relative;
	top: -2px;
}
.dfg {
	display: inline-block;
}
.ff__soc a:nth-child(2) {
	margin-left: 10px;
}
.ff__soc a:first-child:hover {
	color: #D73576!important;
}
.ff__soc a:nth-child(2):hover {
	color: #3B5998!important;
}
.ff__soc a:nth-child(3):hover {
	color: #45668E!important;
}
.ff__soc a:nth-child(4):hover {
	color: #1CA0F3!important;
}
.game {
	text-align: right;
	position: relative;
}
.game__wrap {
	position: absolute;
	bottom: -12px;
	left: 0px;
	background-color: #fff;
	padding: 20px 25px;
	box-shadow: -10px 2px 30px 0px rgba(0, 0, 0, 0.1); 
	width: 280px;
	text-align: left;
	display: none;
}
.game__text {
	font-size: 12px;
	line-height: 16px;
	color: #616161;
	display: inline-block;
	position: relative;
	padding-left: 35px;
	cursor: pointer;
}
.game__close {
	position: absolute;
	top: 18px;
	right: 25px;
	cursor: pointer;
}
.game__close i {
	font-size: 13px;
}
.game__restart {
	font-size: 14px;
	line-height: 14px;
	position: relative;
	padding-left: 20px;
	cursor: pointer;
	display: inline-block;
}
.game-restart__icon {
	position: absolute;
	top: -1px;
	left: -3px;
}
.game__icon {
	position: absolute;
	top: -1px;
	left: 0px;
}
.game__icon i {
	color: #616161;
	font-size: 10px;
}
.tic-tac-toe__col {
	width: 33.33%;
	float: left;
	height: 77px;
	border: 2px solid #EBEBEB;
	position: relative;
	cursor: pointer;
}
.tic-tac-toe__col i {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
.tic-tac-toe__col i {
	font-size: 36px;
}
.icon-icon-game-cross {
	color: #CC0066;
}
.icon-icon-game-toe {
	color: #0099DF;
}
.tic-tac-toe {
	margin-top: 20px;
	position: relative;
	margin-bottom: 10px;
}
.tic-tac-toe__col:first-child,
.tic-tac-toe__col:nth-child(4),
.tic-tac-toe__col:nth-child(7) {
	border-left: none;
}
.tic-tac-toe__col:nth-child(3),
.tic-tac-toe__col:nth-child(6),
.tic-tac-toe__col:last-child {
	border-right: none;
}
.tic-tac-toe__col:first-child,
.tic-tac-toe__col:nth-child(2),
.tic-tac-toe__col:nth-child(3) {
	border-top: none;
}
.tic-tac-toe__col:last-child,
.tic-tac-toe__col:nth-child(8),
.tic-tac-toe__col:nth-child(7) {
	border-bottom: none;
}
.tic-tac-toe:before {
	position: absolute;
	z-index: 2;
}
/*popup style*/
.mfp-close__btn {
	border: none;
	outline: none;
	top: 30px;
	right: 30px;
	color: #383838;
	font-size: 22px;
	background-color: transparent;
	position: absolute;
}
.mfp-close__btn:hover {
	color: #A4A4A4;
}
.mfp-close__btn:active {
	top: 30px;
}
/* overlay at start */
.mfp-fade.mfp-bg {
	opacity: 0;    
	-webkit-transition: all 0.15s ease-out;  
	-ms-transition: all 0.15s ease-out;  
	transition: all 0.15s ease-out;  
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
	opacity: 0.8;
}     
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
	opacity: 0;
	-webkit-transition: all 0.5s ease-out;  
	-ms-transition: all 0.5s ease-out;  
	transition: all 0.5s ease-out;
}
/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
	opacity: 0;   
	-webkit-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	transform: translateY(-100%);
	-webkit-transition: transform 0.5s ease-out;
	-ms-transition: transform 0.5s ease-out;
	transition: transform 0.5s ease-out;
}     
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
	opacity: 1;
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
	opacity: 0;
}   
/*popup style*/

.inst__popup {
	width: 1140px;
	margin: 0px auto;
	background-color: #fff;
	position: relative;
}
.inst-popup__bg {
	float: left;
	width: 45%;
	background-position: center center;
	background-size: cover;
	height: 550px;
}
.inst-popup__content {
	height: 550px;
}
.inst-popup__content {
	float: left;
	width: 55%;
	padding: 70px 45px 45px;
}
.inst-popup__img {
	width: 45%;
	float: left;
}
.inst-popup__info {
	width: 55%;
	float: right;
}
.inst-popup__date {
	color: #999999;
	text-transform: uppercase;
	font-family: "PB";
	line-height: 20px;
}
.inst-popup__desc {
	margin-top: 50px;
	height: 100px;
}
.inst-popup__desc,
.inst-popup__date {
	width: 100%;
	float: left;
}
.inst-popup__btn {
	margin-top: 15px;
}
.inst-popup__info {
	padding-top: 25px;
}



/*########################### BRENDS PAGE #############################*/


.brends__page .brends__items {
	padding-top: 0px;
}



/*########################### 404 #############################*/


.wrap-404 {
	position: relative;
	height: 100vh;
}
.wrap-404 .logo__link {
	line-height: 15px;
}
.wrap-404 > .container, .wrap-404 .row, .wrap-404 .col-md-6 {
	height: 100vh;
}
h3 {
	font-size: 30px;
	font-family: "PB";
	line-height: 32px;
	font-weight: normal;
	padding-bottom: 10px;
}
.wrap-404__desc {
	padding-bottom: 55px;
}
.wrap-404 .logo__link {
	width: 140px;
}
.wrap-404 .logo__link i {
	font-size: 11px;
	margin-left: -2px;
	display: inline-block;
	margin-right: 30px;
}
.wrap-404 .logo__link span {
	display: inline-block;
	-webkit-transition: all 0.3s ease;  
	-ms-transition: all 0.3s ease;  
	transition: all 0.3s ease;
}
.wrap-404_left {
	position: absolute;
	top: 50%;
	left: 15px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.wrap-404__img {
	position: absolute;
	top: 50%;
	left: 15px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.wrap-404__img img {
	width: 850px;
}


/*########################### PRODUCT (Продукт) #############################*/


/*___________ 7. PRODUCT (Продукт) __________*/


.one-product {
	padding-left: 60px;
	position: relative;
}
.item-nav {
	cursor: pointer;
	margin-bottom: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.slick-slide {
	outline: none;
}
.one-product__slider_navigation {
	width: 60px;
	padding-top: 40px;
	padding-bottom: 40px;
}
.one-product__slider_navigation-wrapper {
	position: absolute;
	top: 0;
	left: 0;
}
.one-product__slider_navigation .slick-arrow {
	width: 100%;
}
.one-product__slider_navigation .slick-prev {
	top: 0px;
	margin-top: 0px;
}
.one-product__slider_navigation .slick-prev i {
	display: block;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
	position: relative;
	left: -2px;
}
.one-product__slider_navigation .slick-next i {
	display: block;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
	position: relative;
	left: -2px;
}
.one-product__slider_navigation .slick-next {
	top: auto;
	bottom: 0px;
	margin-top: 0px;
}
.one-product__slider .item-slide {
	padding: 30px;
}
.one-product__slider_navigation .slick-current {
	border: 1px solid #FFDC98;
}


.tovar-popup {
	cursor: pointer;
}
.product {
	padding-top: 20px;
}
.product__price {
	font-size: 32px;
	line-height: 32px;
	padding-top: 5px;
}
.product__price span {
	font-size: 17px;
}
.product__btn {
	margin-right: 25px;
}
.delivery__date {
	float: right;
	color: #616161;
	font-size: 12px;
	line-height: 12px;
	padding-top: 17px;
}
.product__order {
	padding-top: 25px;
}
.product__tab {
	color: #808080;
	line-height: 15px;
	border-bottom: 4px solid transparent;
	padding-bottom: 10px;
	cursor: pointer;
	display: inline-block;
	margin-right: 35px;
}
.product__tab:last-child {
	margin-right: 0px;
}
.product__tab_active {
	font-family: "PB";
	color: #222;
	border-bottom: 4px solid #F3F3F3;
}
.product__body { display: none; }
.product__body_active { display: block; }
.product__tabs {
	border-bottom: 1px solid #F3F3F3;
	margin-bottom: 20px;
}
.product__content {
	padding-top: 60px;
}
.chr__text {
	padding-bottom: 13px;
}
.chr-text__left {
	width: 42%;
	float: left;
	line-height: 15px;
	position: relative;
}
.chr-text__right {
	width: 58%;
	float: left;
	line-height: 15px;
	padding-left: 7px;
}

.chr-text__left span {
	position: relative;
	z-index: 2;
	background-color: #fff;
	padding-right: 4px;
	word-wrap: break-word;
}
.chr-text__left:after {
	position: absolute;
	content: '';
	border-bottom: 1px dotted #ccc;
	bottom: 2px;
	left: 0px;
	width: 100%;
	height: 1px;
}


.ch__about {
	padding-top: 30px;
	padding-bottom: 15px;
}
.ch__about_hidden {
	display: none;
}
.ch__more_active {
	padding-top: 15px;
}
.ch__more {
	font-size: 12px;
	line-height: 12px;
	display: inline-block;
}
.ch__more_hide {
	display: none;
}
.more-brend, .share-friends {
	border-top: 1px solid #F3F3F3;
	border-bottom: 1px solid #F3F3F3;
	padding-top: 18px;
	padding-bottom: 20px;
}
.share-friends {
	border-top: none;
}
.more-brend__text,
.share-friends__text {
	display: inline-block;
	vertical-align: middle;
	color: #616161;
	font-size: 14px;
	line-height: 14px;
}
.more-brend__text {
	margin-bottom: -2px;
}
.more-brend__logo {
	vertical-align: middle;
	display: inline-block;
	width: 90px;
	cursor: pointer;
}
.share-friends .ff__soc {
	display: inline-block;
	margin-left: 25px;
}
.more-brend {
	margin-top: 40px;
}
.product {
	padding-bottom: 70px;
}
.text {
	padding-bottom: 20px;
}
.product__name {
	position: relative;
	display: inline-block;
	padding-right: 50px;
}
.product__name .label {
	top: 6px;
	right: 0px;
}
.product__color,
.product__size {
	border-bottom: 1px solid #F3F3F3;
	padding-top: 16px;
	padding-bottom: 13px;
}
.product__color {
	border-top: 1px solid #F3F3F3;
	margin-top: 15px;
}
.product__color p,
.product__size p {
	color: #616161;
	font-size: 14px;
	display: inline-block;
	vertical-align: middle;
}
.product__color p {
	margin-right: 85px;
}
.product__size p {
	margin-right: 36px;
}
.colors, .sizes {
	display: inline-block;
	vertical-align: middle;
}
.colors span {
	border-radius: 50%;
	cursor: pointer;
	display: inline-block;
	width: 25px;
	height: 25px;
	margin-right: 10px;
	position: relative;
	top: 2px;
	-webkit-transition: all 0.3s ease;  
	-ms-transition: all 0.3s ease;  
	transition: all 0.3s ease;
}
.colors span:last-child {
	margin-right: 0px;
}
.product_grey_light {
	background-color: #F9F7F6;
}
.product_blue_light {
	background-color: #D9E0F0;
}
.product_red {
	background-color: #F97C7C;
}
.product_grey_dark {
	background-color: #767676;
}
.product_green {
	background-color: #84C889;
}
.colors span:hover,
.colors .product_color_active {
	box-shadow: 0px 0px 0px 4px #fff, 0px 0px 0px 5px #ACACAC;
}
.color_red {
	color: #f74d4d;
}
.sizes span {
	display: inline-block;
	width: 32px;
	height: 32px;
	line-height: 34px;
	text-align: center;
	-webkit-transition: all 0.3s ease;  
	-ms-transition: all 0.3s ease;  
	transition: all 0.3s ease;
	cursor: pointer;
	color: #222;
	background-color: transparent;
}
.sizes span:hover,
.sizes .product_size_active {
	color: #fff!important;
	background-color: #222222;
}
.product__video {
	cursor: pointer;
	width: 60px;
	text-align: center;
	position: absolute;
	margin-top: 20px;
	left: 0px;
}
.product-video__text {
	font-size: 11px;
	color: #333!important;
}
.product__form {
	padding-top: 10px;
}
.product__form .input {
	margin-bottom: 35px;
}
.product__video i {
	color: #333!important;
}


/*___________ 8. LIKE (Вам может понравиться) __________*/


.item__btn {
	margin-top: 15px;
}
.like .item .label {
	opacity: 1;
	visibility: visible;
}
.label_sale {
	background-color: #FF7B7B;
	color: #fff;
}
h4 {
	font-weight: normal;
	font-family: "PB";
	font-size: 22px;
	line-height: 24px;
}
.like h4 {
	padding-bottom: 20px;
}
.item-price__before {
	font-size: 12px;
	color: #999999;
	text-decoration: line-through;
	margin-left: 10px;
}
.item-price__before .rub {
	font-size: 10px;
}


.slick-arrow {
	border: none;
	outline: none;
	color: transparent;
	width: 40px;
	height: 40px;
	background-color: transparent;
	position: absolute;
	top: 50%;
	margin-top: -20px;
	z-index: 2;
}

.slick-arrow i {
	font-size: 28px;
	line-height: 44px;
	color: #222;
}
.slick-arrow {
	opacity: .7;
}
.slick-arrow:hover {
	opacity: 1;
}
.slick-prev {
	left: 0px;
}
.slick-next {
	right: 0px;
}



/*########################### PROFILE (ПРОФИЛЬ) #############################*/


/*___________ 8. PROFILE (ПРОФИЛЬ) __________*/

.profile, .fav-tovars {
	min-height: 750px;
	padding-bottom: 70px;
}

.profule-content__item { display: none; }
.profile__content_active { display: block; }
.profile__tab {
	cursor: pointer;
	width: 120px;
	border: 1px solid #DDDDDD;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	line-height: 39px;
	height: 40px;
	border-radius: 3px;
	display: inline-block;
	outline: none;
	border: 1px solid #DDDDDD;
}
.profile__tab_active {
	background-color: #222!important;
	color: #fff;
	border: 1px solid #222;
}

.profile__tabs .profile__tab:first-child {
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	margin-right: -3px;
	border-right: none!important;
}
.profile__tabs .profile__tab:last-child {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	margin-left: -2px;
	border-left: none!important;
}
.profile__tabs {
	text-align: center;
}
.profile__body,
.fav-tovars__body {
	padding-top: 30px;
}

.order__table {
	border: 3px solid #F4F4F4;
	padding: 25px 70px;
}
.order-table__head,
.order-table__body {
	border-bottom: 1px solid #f3f3f3;
}
.profule-content__item,
.fav-tovars-content__item { 
	padding-top: 40px;
	position: relative;
}
.order-table__tr {
	padding-top: 18px;
	padding-bottom: 18px;
}
.order-table__tr a {
	display: inline-block;
	color: #222!important;
	line-height: 22px;
}
.order-table__tr p {
	line-height: 19px;
}
.otr-1 {
	width: 27.333%;
	float: left;
}
.otr-2 {
	width: 32.666%;
	float: left;
}
.otr-3 {
	width: 29.666%;
	float: left;
}
.otr-4 {
	width: 10.335%;
	float: left;
}
.order-table__tr .order__number {
	font-size: 19px;
	line-height: 19px;
	cursor: pointer;
	display: inline-block;
	-webkit-transition: all 0.3s ease;  
	-ms-transition: all 0.3s ease;  
	transition: all 0.3s ease;
}
.order-rable__price {
	font-size: 19px;
	line-height: 19px;
}
.order-rable__price span {
	font-size: 14px;
	line-height: 14px;
}
.order-table__date {
	padding-top: 3px;
}
.order-table__body_last {
	border-bottom: none;
}
.order__empty {
	position: absolute;
	text-align: center;
	width: 100%;
	top: 170px;
	left: 0px;
}
.order-empty__text {
	color: #dddddd;
	font-family: "PB";
	font-size: 40px;
	line-height: 40px;
}
.order-empty__icon {
	display: inline-block;
}
.order-empty__icon i {
	font-size: 100px;
	color: #dddddd;
	margin-left: -25px;
}
.order_toggle {
	display: none;
}
.order_toggle {
	width: 100%;
	text-align: left;
}
.order_toggle__tovars {
	width: 59.999%;
	float: left;
}
.order_toggle__prices {
	width: 40.001%;
	float: left;
	padding-top: 15px;
	padding-bottom: 40px;
}
.order_toggle__item {
	position: relative;
	padding-left: 140px;
	min-height: 112px;
	margin-bottom: 40px;
}
.order_toggle__img {
	width: 100px;
	position: absolute;
	top: 0px;
	left: 0px;
}
.order_toggle__tovars {
	padding-top: 30px;
}
.order_toggle__name {
	line-height: 18px;
	display: inline-block;
	padding-bottom: 8px;
	padding-top: 5px;
}
.order_toggle__count {
	font-size: 12px;
	line-height: 12px;
	padding-bottom: 10px;
}
.order_toggle__price .rub {
	font-size: 11px;
}
.order_toggle__info {
	background-color: #F9F7F6;
	box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.15); 
	padding: 35px 35px;
}
.order_toggle__payment-method,
.order_toggle__delivery {
	float: left;
	width: 50%;
}
.order {
	display: inline-block;
}
.order_toggle__payment-method span,
.order_toggle__delivery span {
	font-size: 11px;
	padding-bottom: 3px;
}
.order_toggle__payment-method p,
.order_toggle__delivery p {
	padding-top: 5px;
}
.order_toggle__text {
	padding-top: 20px;
	float: left;
	width: 100%;
	border-bottom: 1px solid #E4E4E4;
	padding-bottom: 8px;
}
.order_toggle-text__left {
	width: 50%;
	float: left;
	margin-bottom: 7px;
}
.order_toggle-text__right {
	text-align: right;
	float: left;
	width: 50%;
	margin-bottom: 7px;
}
.ottr__price .rub {
	font-size: 11px;
}
.rub {
	font-size: 11px;
}
.ottr-total__left {
	float: left;
	width: 50%;
}
.ottr-total__right {
	float: left;
	width: 50%;
	text-align: right;
}
.ottr__total {
	padding-top: 20px;
	padding-bottom: 12px;
	float: left;
	width: 100%;
}
.ottr-total__left p,
.ottr-total__right .ottr__price,
.ottr-total__right .ottr__price .rub {
	font-family: "PB";
}
.ottr__btn {
	margin-top: 12px;
}
.settings__form .input {
	margin-bottom: 45px;
}
.settings__form h4 {
	padding-bottom: 40px;
}
.delivery__form h4 {
	padding-bottom: 40px;
}
.delivery__form .input {
	margin-bottom: 30px;
}

.delivery__form .input::-webkit-input-placeholder, 
.checkout__form .input::-webkit-input-placeholder {
	font-family: "PR";
}
.delivery__form .input::-moz-placeholder,
.checkout__form .input::-moz-placeholder {
	font-family: "PR";
}
.delivery__form .input::-moz-placeholder,
.checkout__form .input::-moz-placeholder {
	font-family: "PR";
}
.delivery__form .input:-ms-input-placeholder, 
.checkout__form .input:-ms-input-placeholder {
	font-family: "PR";
}

/*select*/
.sel-hidden {
	display: none;
	visibility: hidden;
}
.sel {
	cursor: pointer;
	display: block;
	width: 100%;
	height: 23px;
	position: relative;
}
.sel-styled {
	display: block;
	padding-right: 15px;
	width: 100%;
	height: 100%;
	border-bottom: 1px solid #BBBBBB;
	padding-top: 0px;
}
.sel-styled:after {
	content: "›";
	width: 9px;
	height: 6px;
	position: absolute;
	top: 50%;
	margin-top: -3px;
	right: 1px;
	font-family: "PR";
	font-size: 20px;
	line-height: 4px;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}
.select__wrap {
	margin-bottom: 30px;
}
.sel-options {
	display: none;
	position: absolute;
	top: 100%;
	right: 0;
	left: 0;
	z-index: 2;
	background-color: #fff;
	box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.05);
	padding: 10px 30px 10px 20px;
}
.sel-options li {
	padding-top: 11px;
	padding-bottom: 14px;
	border-bottom: 1px solid #F6F6F6;
	-webkit-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
	line-height: 15px;
	position: relative;
}
.sel-options li:after {
	position: absolute;
	content: '✓';
	top: 50%;
	margin-top: -6px;
	right: -20px;
	width: 12px;
	height: 12px;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all 0.3s ease;  
	-ms-transition: all 0.3s ease;  
	transition: all 0.3s ease;
	color: #aaaaaa;
}
.sel-options .li_active {
	color: #aaaaaa!important;
}
.sel-options .li_active:after {
	position: absolute;
	content: '✓';
	top: 50%;
	margin-top: -6px;
	right: -20px;
	width: 12px;
	height: 12px;
	color: #aaaaaa;
	visibility: visible!important;
	opacity: 1!important;
}
.sel-options li:last-child {
	border-bottom: none;
}
.sel-options li:hover {
	color: #aaaaaa;
}
.sel-options li:hover:after {
	opacity: 1;
	visibility: visible;
}
.sel-options li[rel="hide"] {
	display: none;
}
/*select end*/
.form__label {
	font-size: 12px;
	font-family: "PB";
	line-height: 14px;
	padding-bottom: 5px;
}
.header_left__profile .acc__icon {
  width: auto;
}
.header_left__profile .header__wishlist {
	margin-left: 12px;
}


/*########################### CHECKOUT (ОФОРМИТ ПОКУПКУ) #############################*/


/*___________ 9. CHECKOUT (ОФОРМИТ ПОКУПКУ) __________*/

.checkout {
	padding-bottom: 45px;
}
.checkout h4 {
	padding-bottom: 40px;
}
.checkout .input {
	margin-bottom: 30px;
}
.checkout__table {
	border: 3px solid #F4F4F4;
	padding: 25px 70px;
	margin-bottom: 45px;
}
.checkout-table__head,
.checkout-table__body {
	border-bottom: 1px solid #f3f3f3;
}
.checkout-table__tr {
	padding-top: 18px;
	padding-bottom: 18px;
}
.checkout-table__tr p {
	line-height: 19px;
}
.ctt-1 {
	width: 60.833%;
	float: left;
}
.ctt-2 {
	width: 21.666%;
	float: left;
}
.ctt-3 {
	width: 17.500%;
	float: left;
}
.delete {
	color: #cccccc;
	font-size: 12px;
	display: inline-block;
}
.checkout__item {
	position: relative;
	padding-left: 230px;
	min-height: 225px;
}
.checkout-table__body {
	padding-top: 30px;
}
.checkout-order__img {
	width: 200px;
	position: absolute;
	top: 0px;
	left: 0px;
}
.checkout__name {
	line-height: 18px;
	margin-bottom: 30px;
	margin-top: 5px;
	display: inline-block;
}
.checkout__favorites {
	padding-bottom: 60px;
}
.number span {
	color: #C8C8C8;
	cursor: pointer;
	-webkit-transition: all 0.3s ease;  
	-ms-transition: all 0.3s ease;  
	transition: all 0.3s ease;
}
.number span:hover {
	color: #EEEEEE;
}
.number input {
	width: 28px;
	text-align: center;
	outline: none;
	border: none;
}
.checkout__price {
	font-size: 20px;
	line-height: 20px;
}
.checkout__price .rub {
	font-size: 14px;
}
.ch-price__before {
	color: #999999;
	font-size: 12px;
	display: inline-block;
	margin-left: 20px;
	text-decoration: line-through;
}
.ch-price__before .rub {
	font-size: 11px;
}
.checkout__body {
	padding-top: 30px;
}
.discount__wrap {
	padding-left: 230px;
	padding-top: 40px;
	padding-bottom: 15px;
}
.discount__input {
	display: inline-block;
	width: 260px;
	position: relative;
}
.discount__input .input {
	padding-right: 115px;
}
.discount__total {
	display: inline-block;
	padding-left: 210px;
}
.discount__total p {
	display: inline-block;
	vertical-align: bottom;
}
.discount__price {
	font-size: 32px;
	line-height: 22px;
	padding-left: 25px;
}
.discount__price .rub {
	font-size: 17px;
}
.discount__btn {
	position: absolute;
	top: -18px;
	right: 0px;
	display: none;
	z-index: 2;
}
.checkout .name__input {
	margin-top: 14px;
}
.checkout .mail__input {
	margin-top: 11px;
}
.checkout .number__input {
	margin-top: -3px
}
.checkout .select__us {
	margin-top: -14px;
}
.i-registered {
	display: inline-block;
	padding-right: 10px;
	vertical-align: middle;
}
.checkout__form {
	padding-top: 70px;
}
.checkout .auth {
	right: auto;
	left: 235px;
	top: -45px;
}
.checkout__form_right {
	padding-left: 30px;
}
.checkout__form_left {
	padding-right: 30px;
}
.checkout-form__head {
	padding-bottom: 30px;
	border-bottom: 1px solid #F1F1F1;
}
.checkout-form__foot {
	padding-top: 50px;
}

.radio__wrap {
	padding-bottom: 18px;
}
input[type="radio"] {
  display: none;
}
input[type="radio"] + label {
	cursor: pointer;
	position: relative;
	padding-left: 35px;
	display: block;
}
input[type="radio"] + label .radio__text {
	display: inline-block;
}
input[type="radio"] + label .radio__btn {
  position: absolute;
  width: 20px;
  height: 20px;
  -moz-border-radius: 50%;
  border-radius: 50%;
  box-shadow: inset 0px 0px 0px 2px #E4E4E4;
  top: 0px;
  left: 0px;
}
input[type="radio"] + label .radio__btn {
  background-color: #fff;
}
input[type="radio"]:checked + label .radio__btn {
  background-color: #222;
  box-shadow: inset 0px 0px 0px 2px #E4E4E4, inset 0px 0px 0px 5px #fff;
}
input[type="radio"] + label .radio__btn,
input[type="radio"]:checked + label .radio__btn {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.checkout__delivery {
	padding-top: 40px;
}
.checkout-form__foot h4 {
	padding-bottom: 20px;
}
.radio__price {
	font-size: 20px;
	display: inline-block;
	padding-top: 5px;
}
.radio__price .rub {
	font-size: 14px;
}
.checkout__total {
	padding: 50px 60px;
	margin-left: 30px;
}
.checkout__total h4 {
	padding-bottom: 0px;
}
.checkout__total .ottr-total__left p,
.checkout__total .ottr-total__right p {
	font-family: "PR";
}
.checkout__total .ottr-total__left p {
	padding-top: 12px;
}
.checkout__total .ottr-total__right p {
	font-size: 32px;
}
.checkout__total .ottr-total__right p .rub {
	font-size: 16px;
	font-family: "PR";
}

.check__wrap {
	padding-top: 18px;
	padding-bottom: 55px;
}
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + label {
	cursor: pointer;
	position: relative;
	display: inline-block;
	padding-left: 27px;
}
input[type="checkbox"] + label .check__text {
	position: relative;
	top: 0px;
	font-size: 12px;
}
input[type="checkbox"] + label .check__btn {
  position: absolute;
  width: 20px;
  height: 20px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  top: 0px;
  left: 0px;
  text-align: center;
}
input[type="checkbox"] + label .check__btn {
  background-color: #fff;
}
input[type="checkbox"] + label .check__btn:after {
	content: '✓';
	color: #222;
	line-height: 23px;
	opacity: 0;
	visibility: hidden;
	font-size: 17px;
	-webkit-transition: all 0.3s ease;  
	-ms-transition: all 0.3s ease;  
	transition: all 0.3s ease;
}
input[type="checkbox"]:checked + label .check__btn:after {
  opacity: 1;
	visibility: visible;
}
input[type="checkbox"] + label .check__btn,
input[type="checkbox"]:checked + label .check__btn {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.ottr-foot__text {
	color: #aaaaaa;
	font-size: 12px;
	line-height: 15px;
	padding-bottom: 17px;
}


/*___________ 10. THANK YOU (Страница благодарности) __________*/

.thank-you {
	padding-bottom: 40px;
}
.thank-you__logo {
	text-align: center;
	padding-top: 23px;
}
.thank-you__order {
	padding-top: 140px;
}
.thank-you__desc {
	padding-bottom: 50px;
	padding-top: 10px;
}
.thank-you__order {
	text-align: center;
}
.thank-you__price {
	font-size: 20px;
}
.thank-you__price .rub {
	font-size: 13px;
}
.payment__wrap {
	margin: 20px auto 25px;
}
.we-will-contact-you {
	color: #aaaaaa;
	font-size: 12px;
	line-height: 16px;
}


/*########################### FOR HIM (Для него) #############################*/


/*___________ 11. BY COLOR (По цвету) __________*/


.h-banner__img {
	height: 560px;
	background-position: center center;
	background-size: cover;
}
.tabs__slider .item {
	padding-top: 0px;
	margin-left: 2px;
	margin-right: 2px;
	height: auto;
}

.by-color .slick-dots {
	text-align: center;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
}
.by-color .slick-dots li {
	display: inline-block;
	margin-right: 20px;
}
.by-color .slick-dots li:last-child {
	margin-right: 0px;
}
.by-color .slick-dots li span {
	display: inline-block;
	cursor: pointer;
	-webkit-transition: all 0.3s ease;  
	-ms-transition: all 0.3s ease;  
	transition: all 0.3s ease;
}
.by-color .slick-dots .slick-active span,
.by-color .slick-dots li span:hover {
	color: #a1a1a1;
}
.tabs__slider {
	padding-top: 70px;
	margin-top: 25px;
}

.by-color .slick-arrow {
	margin-top: -60px;
}

.by-color .slick-prev {
	left: -11px;
}
.by-color .slick-next {
	right: -11px;
}
.slick-slide img {
	display: inline-block;
}
.bc-foot__slide {
	text-align: center;
}
.bc-foot__slide img {
	max-width: 350px;
	margin-bottom: 50px;
}
.bc-foot__text {
	font-size: 20px;
	text-align: center;
	font-family: "PB";
	padding-top: 20px;
}
.bc-foot__text .rub {
	font-size: 15px;
}
.bc-foot__slider {
	margin-top: 15px;
}



/*___________ 12. SALE (РАСПРОДАЖА) __________*/


.sale__line {
	background-color: #F74D4D;
	text-align: center;
	padding: ;
	color: #fff;
}
.sale__line p {
	line-height: 18px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.sale {
	padding-top: 20px;
	padding-bottom: 60px;
}
.sale__banner {
	padding-top: 50px;
}
.sale__banner .item_square__text__title {
	font-size: 34px;
	line-height: 34px;
	font-family: "PR";
}
.sale__banner .item_square__text {
	display: inline-block;
	width: auto;
	left: 70px;
	bottom: 60px;
}
.sale__slider .dd-item__img {
	max-width: 230px;
}


/*########################### BREND (Бренд) #############################*/


/*___________ 12. BREND (Бренд) __________*/


.brend__desc {
	text-align: center;
	padding-top: 10px;
}
.filter__text {
	font-family: "PB";
	line-height: 42px;
	font-size: 15px;
}
.filter {
	position: relative;
	padding-left: 40px;
	vertical-align: middle;
	margin-right: 65px;
}
.filter__icon {
	position: absolute;
	left: 10px;
}
.view {
	display: inline-block;
	vertical-align: middle;
}
.view__text {
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}
.view_three_items, 
.view_four_items {
	display: inline-block;
	cursor: pointer;
	height: 14px;
	vertical-align: middle;
}
.view_three_items {
	margin-right: 12px;
}
.view_three_items span, 
.view_four_items span {
	height: 14px;
	display: inline-block;
	border-radius: 3px;
	border: 1px solid #CCCCCC;
	-webkit-transition: all 0.3s ease;  
	-ms-transition: all 0.3s ease;  
	transition: all 0.3s ease;
}
.view_three_items span {
	width: 14px;
}
.view_four_items span {
	width: 10px;
}
.view_three_items_active span {
	border: 1px solid #222;
	background-color: #222;
}
.sort-by {
	float: right;
	padding-top: 9px;
}
.sort-by .sel-styled {
	border-bottom: none;
	padding-right: 20px;
}
.sort-by .sel-styled:after {
	margin-top: -4px;
}
.sort-by .sel-options {
	width: 220px;
	left: auto;
	right: 0px;
}
.sort-by__text {
	display: inline-block;
}
.sort-by .select__wrap {
	display: inline-block;
	margin-bottom: 0px;
}
.brend__items {
	padding-top: 30px;
}
.no-product {
	position: absolute;
	background-color: rgba(255,255,255,.4);
	width: 100%;
	height: 372px;
	left: 0px;
	top: 0px;
	padding-top: 170px;
	text-align: center;
}
.no-product__title {
	font-family: "PB";
	line-height: 15px;
	padding-bottom: 5px;
	font-size: 13px;
}
.no-product__reminder, .no-product__order {
	border-bottom: 1px dotted #AAAAAA;
	opacity: .5;
	display: inline-block;
	-webkit-transition: all 0s ease!important;  
	-ms-transition: all 0s ease!important;  
	transition: all 0s ease!important;
	font-size: 13px;
}
.no-product__order {
	margin-top: 50px;
	font-size: 11px;
}
.no-item:hover {
	box-shadow: none;
}
.o-reminder {
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
	width: 100%;
	height: 100%;
	box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.06);
	background-color: #fff;
	padding: 130px 55px 0px;
	z-index: 2;
}
.o-reminder .input {
	margin-bottom: 40px;
}
.o-reminder__btn {
	width: 100%;
}
.o-reminder__close {
	position: absolute;
	top: 20px;
	right: 20px;
	color: #9E9E9E;
	-webkit-transition: all 0.3s ease;  
	-ms-transition: all 0.3s ease;  
	transition: all 0.3s ease;
}
.o-reminder__close:hover {
	color: #C3C3C3;
}
.quick-view__popup {
	margin: 0px auto;
	background-color: #fff;
	position: relative;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 0px;
	opacity: 0;
	visibility: hidden;
	height: 0px;
	overflow: hidden;
	width: 1170px;
}
.quick-view__popup .product {
  padding-bottom: 20px;
  padding-top: 50px;
}
.on-page-clock {
	margin-top: 25px;
}
.filter__br {
	display: none;
	padding-bottom: 15px;
}
.item-day {
	box-shadow: 0px 0px 0px 6px #FFED88!important;
}
.item-day .favorites {
	top: 70px;
}
.item-day .quick-view {
	top: 130px;
}
.label-day {
	font-size: 11px;
	border-radius: 20px;
	background-color: #FFED88;
	padding: 4px 9px;
	position: absolute;
	top: -35px;
	left: 50%;
	margin-left: -37px;
}
.filter__btns {
	margin-top: 20px;
}
.filter__btn {
	margin-right: 50px;
}
.reset__btn {
	font-size: 13px;
	color: #222!important;
}
.reminder {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #FAFAF8;
	padding: 160px 55px 0px;
	z-index: 2;
	display: none;
	overflow: hidden;
}
.reminder_static {
	position: relative;
	display: block;
	height: 481px;
	margin-bottom: 30px;
	background-color: #FAFAF8;
	padding: 160px 55px 0px;
	z-index: 2;
	overflow: hidden;
}
.reminder .input {
	margin-bottom: 30px;
}
.reminder__btn {
	width: 100%;
}
.reminder__close {
	position: absolute;
	top: 20px;
	right: 20px;
	color: #9E9E9E;
	cursor: pointer;
	-webkit-transition: all 0.3s ease;  
	-ms-transition: all 0.3s ease;  
	transition: all 0.3s ease;
}
.reminder__close:hover {
	color: #C3C3C3;
}
.reminder__text {
	font-size: 14px;
	line-height: 20px;
	text-align: left;
	padding-bottom: 50px;
}
.reminder__icon {
	position: absolute;
	top: 40px;
	left: -50px;
}
.reminder__icon i {
	font-size: 65px;
	color: #D3D3D2;
}
.preorder {
	position: absolute;
	width: 100%;
	text-align: center;
	left: 0px;
	bottom: 5px;
	font-size: 11px;
}
.brend {
	padding-bottom: 50px;
}
.filter_toggle {
	background-color: #F5F5F5;
	padding-top: 30px;
}
.filter__title {
	font-family: "PB";
	line-height: 15px;
	padding-bottom: 10px;
}
.filter__block {
	padding-bottom: 28px;
}
.filter__item {
	cursor: pointer;
	font-size: 13px;
	padding: 6px 7px 4px;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	border: 1px solid #ddd;
	border-radius: 3px;
	-webkit-transition: all 0.3s ease;  
	-ms-transition: all 0.3s ease;  
	transition: all 0.3s ease;
}
.filter__item:hover, .filter__item_active {
	background-color: #222;
	color: #fff;
	border: 1px solid #222;
}
.filter-check__wrap .label_first {
	margin-right: 30px;
}
.filter__price {
	padding-bottom: 15px;
	padding-top: 7px;
}
.noUi-target {
	background-color: #ddd;
	border-radius: 3px;
	border: none;
	border-bottom: 1px solid #fff;
  -webkit-box-shadow: inset 0px -1px 0px 0px #F3F3F3, inset 0px -2px 0px 0px #DCDCDC, inset 0px -8px 0px 0px rgba(209,209,209,.7);
	-moz-box-shadow: inset 0px -1px 0px 0px #F3F3F3, inset 0px -2px 0px 0px #DCDCDC, inset 0px -8px 0px 0px rgba(209,209,209,.7);
	box-shadow: inset 0px -1px 0px 0px #F3F3F3, inset 0px -2px 0px 0px #DCDCDC, inset 0px -8px 0px 0px rgba(209,209,209,.7);
}
.noUi-connect {
	bottom: -1px;
}
.noUi-horizontal {
  height: 4px;
}
#keypress {
	margin-bottom: 20px;
}
.noUi-connect {
  background: #222;
  box-shadow: none;
}

.noUi-horizontal .noUi-handle {
  width: 18px;
  height: 18px;
  top: -7px;
  left: -9px;
}
.noUi-handle {
  border: 2px solid #fff;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 4px 16px -2px rgba(187,187,187,.7);
	background: #F7F7F7;
	background: -moz-linear-gradient(top, #F7F7F7 0%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #F7F7F7)), color-stop(100%, rgba(255,255,255,1)));
	background: -webkit-linear-gradient(top, #F7F7F7 0%, rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(top, #F7F7F7 0%, rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top, #F7F7F7 0%, rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom, #F7F7F7 0%, rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#ffffff', GradientType=0 );
}
.noUi-handle:after, .noUi-handle:before {
	display: none;
}
.price__dash {
	font-size: 14px;
	display: inline-block;
	margin-left: 4px;
	margin-right: 3px;
}
.keypress__input {
	width: 95px;
	height: 30px;
	border-radius: 3px;
	background-color: #fff;
	border: none;
	padding-left: 10px;
	padding-right: 25px;
	outline: none;
}
.keypress-input__wrap {
	display: inline-block;
	position: relative;
}
.keypress-input__icon {
	position: absolute;
	top: 50%;
	cursor: pointer;
	width: 16px;
	height: 16px;
	margin-top: -8px;
	right: 8px;
	font-size: 11px;
	color: #4C4C4C;
}


/*___________ 13. ABOUT BREND (О Бренде) __________*/


.about-brend__logo {
	text-align: center;
}
.about-brend__logo a {
	display: inline-block;
	width: 210px;
}
.about-brend__content {
	padding-top: 32px;
	border-top: 1px solid #f5f5f5;
}
.about-brend__text {
	line-height: 22px;
	padding-bottom: 24px;
}
.about-brend__buy {
	border-top: 1px solid #f5f5f5;
	border-bottom: 1px solid #f5f5f5;
	padding: 25px 0px 0px;
	cursor: pointer;
}
.brend-buy__text {
	line-height: 22px;
	padding-bottom: 24px;
}
.brend-buy__text_hidden {
	display: none;
}
.about-brend {
	padding-bottom: 65px;
}
.brend-buy__head {
	position: relative;
	padding-right: 25px;
}
.brend-buy__head span {
	position: absolute;
	top: 2px;
	right: 0px;
	color: #D5D5D5;
	font-size: 15px;
	-webkit-transition: all 0.3s ease;  
	-ms-transition: all 0.3s ease;  
	transition: all 0.3s ease;
}
.brend-arrow_active {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
	top: 0px;
}
.about-brend__logo {
	padding-top: 70px;
}
.filter_toggle {
	display: none;
}
.filter_active {
	background-color: #F5F5F5;
	border: 1px solid #F5F5F5;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}
.filter_active:hover {
	border: 1px solid #F5F5F5!important;
	color: #222!important;
}
.mob_acc .mob_log-out {
	float: right;
	color: #F74D4D!important;
	margin-left: 20px;
	border-bottom: 1px solid #F6EEEE;
}
.track-number {
	background-color: #F2F2F2;
	padding: 10px 15px;
	margin-bottom: 25px;
}
.track-number p {
	display: inline-block;
	font-size: 13px;
}
.track-number a {
	float: right;
	font-size: 13px;
}
.instagram__refresh {
	text-align: center;
	padding-top: 30px;
	padding-bottom: 60px;
}
.instagram__refresh img {
	width: 40px;
	cursor: pointer;
}
.search_hidden {
	display: none;
}

.order_toggle__info_one {
	padding-bottom: 10px;
}
.search_visible__field {
	position: relative;
	padding-left: 45px;
	top: -2px;
	padding-right: 130px;
}
.search_visible__icon {
	position: absolute;
	top: 50%;
	left: 0px;
	margin-top: -8px;
}
.search__btn {
	position: absolute;
	top: 50%;
	margin-top: -21px;
	right: 0px;
}
.search_visible__close {
	position: absolute;
	top: 50%;
	cursor: pointer;
	margin-top: -9px;
	right: 100px;

}
.search_visible {
	height: 0px;
}
.search_visible__input {
	width: 100%;
	height: 42px;
	outline: none;
	color: #222;
	border: none;
	background-color: transparent;
	padding-top: 2px;
}
.search_visible__input::-webkit-input-placeholder {
	color: #A2A2A2;
}
.search_visible__input::-moz-placeholder {
	color: #A2A2A2;
}
.search_visible__input::-moz-placeholder {
	color: #A2A2A2;
}
.search_visible__input:-ms-input-placeholder {
	color: #A2A2A2;
}

.mob_search__input::-webkit-input-placeholder {
	color: #A2A2A2;
}
.mob_search__input::-moz-placeholder {
	color: #A2A2A2;
}
.mob_search__input::-moz-placeholder {
	color: #A2A2A2;
}
.mob_search__input:-ms-input-placeholder {
	color: #A2A2A2;
}
.p_payment__items {
	padding-top: 20px;
}
.p_payment__title {
	font-size: 15px;
	padding-bottom: 2px;
	font-family: "PB";
}
.p_payment__item {
	padding-bottom: 30px;
	position: relative;
	padding-right: 320px;
}
.p_payment__text_yellow {
	font-size: 12px;
	background-color: #F6EF8B;
	border-radius: 5px;
	padding: 12px 15px;
	margin-top: 7px;
	margin-left: -15px;
	letter-spacing: .4px;
}
.p_payment h3, .p_delivery h3 {
	letter-spacing: .4px;
}
.p_payment__text {
	letter-spacing: .4px;
	line-height: 20px;
}
.p_payment__item svg {
	position: absolute;
	top: -3px;
	right: 0px;
}
.p_payment  {
	padding-bottom: 20px;
}
.return_item {
	padding-top: 20px;
}
.quick-view__popup_active {
	opacity: 1;
	visibility: visible;
	height: auto;
	overflow: visible;
	padding-bottom: 50px;
}
.youtube__popup {
	width: 700px;
	margin: 0px auto;
	position: relative;
	padding-top: 50px;
	background-color: #fff;
}
.youtube__popup .mfp-close__btn {
	top: 4px;
	right: 15px;
}
.youtube__popup .mfp-close__btn:active {
	top: 4px;
}

/* edit 25.10 */
/* 1 */
.dd-item-img__wrap {
	height: 174px;
	overflow: hidden;
}
.dd-clocks__wrap {
	padding-bottom: 0;
}
/* 2 */
.no-product__reminder, .no-product__order {
	color: #000 !important;
	opacity: 1;
	border-bottom-color: #ccc;
}
.no-product__reminder:hover, .no-product__order:hover {
	opacity: .7;
	color: #000 !important;
}
.item__name, .h-basket__name, .watch_dynamic_link, .dd-item__name, .product__name {
	text-transform: uppercase;
}

/* Jquery scrollbar */
.scrollbar-outer > .scroll-element.scroll-y .scroll-element_outer { 
	left: 8px; 
	width: 4px; 
	margin: 3px 0; 
}
.scrollbar-outer > .scroll-element .scroll-bar {
	background-color: #000;
}
.scrollbar-outer > .scroll-element div {
	height: 99%;
}

.favorites__items .item__name, .brend__items .item__name {
	height: 43px;
}

.product__brend {
	margin-bottom: 10px;
}
.product__brend .more-brend__logo {
	width: auto;
}

.quick-view__popup .add_to_cart_btn {
	width: 173px;
}