
.line_type_1:before {
    top: 192px;
    right: -0.6%;
    width: 230px;
    height: 4px;
    background-color: #222;
}

.line_type_2:before {
    background-color: #222;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    right: 49.4%;
    height: 230px;
    width: 4px;
}

.line_type_3:before {
    background-color: #222;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    right: 48.87%;
    height: 230px;
    width: 4px;
}

.line_type_4:before {
    background-color: #222;
    right: 15.4%;
    height: 230px;
    width: 4px;
}

.line_type_5:before {
    background-color: #222;
    right: 49.4%;
    height: 230px;
    width: 4px;
}

.line_type_6:before {
    background-color: #222;
    right: 82.4%;
    height: 230px;
    width: 4px;
}

.line_type_7:before {
    top: 114px;
    right: -0.6%;
    width: 230px;
    height: 4px;
    background-color: #222;
}

.line_type_8:before {
    top: 37px;
    right: -0.6%;
    width: 230px;
    height: 4px;
    background-color: #222;
}

.line_type_9 {

}

.line_type_10 {

}

.line_type_11 {

}

.line_type_12 {

}

.line_type_13 {

}

.line_type_14 {

}

.line_type_15 {

}

.line_type_16 {

}
