.add_to_cart__popup {
    width: 500px;
    margin: 0px auto;
    background-color: #fff;
    position: relative;
}

.add_to_cart-popup__content {
    height: 300px;
    float: left;
    padding: 15px 45px 45px;
}

.add_to_cart-popup__img {
    width: 45%;
    display: inline-block;
}

.add_to_cart-popup__item {
    text-align: center;
}

.add_to_cart-popup__img img{
    width: auto;
    height: 210px;
}

.slider__for .item img:not(.quick_view_img_preload){
    height: 324px;
    width: auto !important;
    max-width: 324px;
}

.bc-foot__slide img{
    /*height: 400px;
    width: auto !important;*/
		max-height: 400px;
    width: 100%;
}

.quick-view__icon img.quick_view_img_preload{
    width: 100% !important;
    height: auto !important;
}

.auth-btn__wrap {
    padding-bottom: 43px;
}




.delivery__page .payment_icon, .payment__page  .payment_icon{
    position: absolute;
    left: -60px;
    top: 0;
}

.delivery_methods .payment_icon {
    left: -50px;
}

.delivery__page .page_title, .payment__page .page_title {
    margin-bottom:25px;
}

.delivery__page p, .payment__page p, .partnership__page p, .articles__page p, .review__page p {
    padding: 0px 0px 20px 0;
}

.delivery__page .remark, .payment__page .remark {
    margin: 0 110px 20px 0;
    padding: 4px 20px 5px 14px;
    border-radius: 4px;
    color: #616161;
    background-color: #ebebeb;
}

.delivery__page .delivery_methods, .payment__page .delivery_methods {
    line-height: 22px;
    padding: 40px 30px 20px 50px;
    color: #363636;
}

.articles__page a {
    text-decoration: underline;
    color: #212121;
}

.articles__page p {
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.delivery__page .frame, .payment__page .frame  {
    margin: 0px 52px 38px 40px;
    padding: 15px 15px 15px 23px;
    border: 1px solid #c5c5c5;
    border-radius: 4px;
    line-height: 22px;
}

.payment_methods ol li.smallpad {
    padding-bottom: 10px;
}

.payment_methods {
    line-height: 22px;
    padding: 0 30px 20px 60px;
}

.payment_methods ol {
    list-style-position: 20px 10px;
}

.payment_methods ol li {
    position: relative;
    padding: 0 0 30px 0;
}


.payment_methods ol li.smallpad {
    padding-bottom: 10px;
}

.payment_methods ol li p {
    padding: 0;
}

.payment_icon {
    position: absolute;
    left: -60px;
    top: 0;
}

.delivery_methods .payment_icon {
    left: -50px;
}

.attention {
    margin: 10px 0 0 -23px;
    padding: 4px 20px 5px 35px !important;
    border-radius: 4px;
    color: #616161;
    background: url(../../../../images/icon_attention.png) no-repeat 10px 8px #ebebeb;
}

.remark.lined {
    display: inline-block;
    margin: 10px 0 15px 0;
}

.delivery_methods {
    line-height: 22px;
    padding: 40px 30px 20px 50px;
    color: #363636;
}

.delivery_methods ul {
    list-style: none;
}


.delivery_methods ul li {
    position: relative;
    padding: 0 0 30px 0;
}

.payment_methods ol li.smallpad {
    padding-bottom: 10px;
}

.faqsec {
    position: relative;
    padding: 0 0 32px 38px;
}

.faqsec h4 {
    font-size: 13px;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    margin-bottom: 8px;
}

.faqsec h4 img {
    position: absolute;
    left: 10px;
    top: 0;
    width: auto;
}

.faqsec > a {
    display: inline-block;
    margin-bottom: 5px;
    color: #363636;
    text-decoration: none;
    border-bottom: 1px dotted #363636;
}

.faqsec > a:hover {
    color: #000;
    border-color: #000;
}

.faqsec > a.active {
    font-weight: bold;
    color: #000;
    border: 0;
}

.faq_answer {
    display: none;
    position: relative;
    margin: 5px 56px 12px 0;
    padding: 15px 58px 0 25px;
    background-color: #ebebeb;
    border-radius: 4px;
    color: #363636;
    line-height: 24px;
}

.faq_close {
    position: absolute;
    right: 14px;
    top: 14px;
    display: block;
    width: 12px;
    height: 12px;
    text-indent: -999px;
    overflow: hidden;
    background: url(../../../../images/faq_close.png) no-repeat 0 0;
}

.faqsec .roller {
    display: block;
    width: 100%;
    height: 0px;
    overflow: hidden;
    font-size: 0px;
    padding: 0px;
    margin: 0px;
    clear: both;
}

.favorites__items .item img{
    height: 291px;
    width: auto !important;
}

.favorites__items .item {
    height: 509px;
}

.basket_prop {
    font-size: small;
    color: #b7b7b7;
}


.basket_prop .prop_color{
    border-radius: 50%;
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 10px;
    position: relative;
    top: 2px;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin: 0 0 -2px 0;
}
/*
.popular__items .item img{
    height: 292px;
    width: auto;
}*/

.basket-relative {
    position: fixed;
}

.item {
    height: 492px;
}

.reminder_static {
    height: 492px;
}

h4.search-no-result {
    text-align: center;
}

.order-error-message {
    color: #f00;
    margin-top: 22px;
    margin-left: 10px;
    /*position: absolute;*/
}

li.blink {
    margin-right: 7%;
}
li.blink a {
    animation: blink 4s linear infinite;
}
@keyframes blink{
    0%{color: #f74d4d;}
    50%{color: #ffb6c0;}
    100%{color: #f74d4d;}
}

.dropdown__nav li a.promo_link {
    color: #f74d4d !important;
}

.nav-resp a.nav__link {
    padding-left: 20px;
    padding-right: 0;
}
